@mixin container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 25px;
  min-width: $width-mobile;
  max-width: $width-desktop-l;

  @media (min-width: $width-tablet-s) {
    padding: 0 30px;
  }

  @media (min-width: $width-tablet-m) {
    padding: 0 160px;
  }

  @media (min-width: $width-laptop) {
    padding: 0 50px;
  }
}

@mixin container-narrow {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: $width-mobile;
  max-width: $width-desktop-l;

  @media (min-width: $width-laptop) {
    padding: 0 100px;
  }

  @media (min-width: $width-desktop-s) {
    padding: 0 180px;
  }
}

@mixin link-reset {
  color: inherit;
  text-decoration: inherit;
}

@mixin btn {
  @include link-reset;

  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  border: none;

  text-align: center;

  background-color: transparent;
  cursor: pointer;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin input-reset {
  display: block;
  box-sizing: border-box;
  width: 100%;

  border: none;
  border-radius: 0;
  background-color: transparent;
}

@mixin fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin toggle {
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &::after {
    display: none;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    content: "\f107";
  }

  svg {
    position: absolute;
    right: 0;
    font-size: 20px;

    transition: transform 0.4s;
  }

  &.accordeon__toggle--active {
    border-width: 0;

    svg {
      transform: rotate(180deg);
    }
  }
}
