$width-mobile: 320px;
$width-tablet-s: 480px;
$width-tablet-m: 768px;
$width-tablet-l: 992px;
$width-laptop: 1024px;
$width-desktop-s: 1200px;
$width-desktop-m: 1366px;
$width-desktop-l: 1680px;
$color-prime: #dd2340;
$color-attention: #954731;
$color-success: #6ca481;
$color-disabled: #ddd5cf;
$color-marker: #82a3cc;
