footer.page-footer
  .page-footer__wrapper
    .page-footer__nav.nav.nav--mobile
      ul.nav__list
        - var items = [{title: 'Каталог', href: 'catalog.html'}, {title: 'Инструкции', href: '#'}, {title: 'Жизнь компании', href: 'company.html'}, {title: 'Контакты', href: 'contacts.html'}];

        each item in items
          li.nav__item
            a.nav__link(href=item.href)= item.title

    .page-footer__contacts.contacts
      .contacts__column.contacts__column--location
        p.contacts__text 347900, Россия, Ростовская обл.,
          br
          | г. Таганрог, ул. Октябрьская, д.75

      .contacts__column.contacts__column--online
        p.contacts__text E-mail:
          a.contacts__link(href="mailto:07taganrog@gmail.com")  taganrogotoplenie
        p.contacts__text Skype:
          a.contacts__link(href="skype:echo123?call")  07taganrog@gmail.com

      .contacts__column.contacts__column--phone
        p.contacts__text
          i.contacts__icon.fas.fa-phone-volume
          a.contacts__link.contacts__link--phone(href="tel:89282148696")  8-928-214-86-96
        p.contacts__text
          i.contacts__icon.fas.fa-phone-volume
          a.contacts__link.contacts__link--phone(href="tel:89286061777")  8-928-60-61-777

    .page-footer__block
      .page-footer__nav.nav.nav--desktop
        ul.nav__list
          - var items = [{title: 'Каталог', href: 'catalog.html'}, {title: 'Инструкции', href: '#'}, {title: 'Жизнь компании', href: 'company.html'}, {title: 'Контакты', href: 'contacts.html'}];

          each item in items
            li.nav__item
              a.nav__link(href=item.href)= item.title

      .page-footer__social.social
        ul.social__list
          - var links = [{title: 'вконтакте', icon: 'fab fa-vk'}, {title: 'twitter', icon: 'fab fa-twitter'}, {title: 'facebook', icon: 'fab fa-facebook-f'}, {title: 'инстаграмм', icon: 'fab fa-instagram'}];

          each link in links
            li.social__item
              a.social__link(href="#", aria-label=link.title)
                i.social__icon(class=link.icon)

      p.copyright
        | Грелись вместе c
        |
        a.copyright__link(href="http://symbiosislab.ru/") Симбиозис.Лаб


