- var headerClass;

if page === 'index'
  - headerClass = 'page-header'
else if page === 'company'
  - headerClass = 'page-header page-header--inner page-header--glassy'
else
  - headerClass = 'page-header page-header--inner'

header(class=headerClass)
  if page === 'index'
    video.page-header__playback(src="video/videoplayback.mp4", autoplay, loop)

  .page-header__top
    .page-header__wrapper
      .page-header__menu.menu.menu--mobile
        a.menu__item.menu__item--open(href="#", aria-label="Навигация")
          i.menu__icon(class='far fa-bars')

        if page === 'index'
          a.menu__logo.logo
            img.logo__image(src="img/logo.png")
        else
          a.menu__logo.logo(href="index.html")
            img.logo__image(src="img/logo.png")

        a.menu__item.menu__item--cart(href="#", aria-label="Корзина")
          i.menu__icon(class='far fa-shopping-cart')

      if page === 'index'
        a.page-header__logo.logo
          img.logo__image(src="img/logo.png")
      else
        a.page-header__logo.logo(href="index.html")
          img.logo__image(src="img/logo.png")

      .page-header__contacts.contacts
        p.contacts__call
          a.contacts__phone(href="tel:+79287588875") +7 928 75 888 75
          a.contacts__callback(href="#") Позвонить мне
        p.contacts__location г. Таганрог, Поляковское шоссе, 49

      .page-header__user-geo.geo
        p.geo__title Выберите ваш город
        .geo__location
          select.geo__select
            option(value='Таганрог', selected) Таганрог
            option(value='Аксай') Аксай
            option(value='Ростов-на-Дону') Ростов-на-Дону

  .page-header__bottom
    .page-header__wrapper
      .page-header__menu.menu.menu--desktop
        .menu__list
          -
            var items = [{
              title: 'Навигация',
              icon: 'far fa-bars',
              class: 'menu__item--open'
            }, {
              title: 'Корзина',
              icon: 'far fa-shopping-cart',
              class: 'menu__item--cart'
            }, {
              title: 'Поиск',
              icon: 'fas fa-search',
              class: 'menu__item--search'
            }, {
              title: 'Вход',
              icon: 'far fa-lock-alt',
              class: 'menu__item--login'
            }];

          each item in items
            li.menu__item
              a.menu__link(href="#", class=item.class, aria-label=item.title)
                i.menu__icon(class=item.icon)

      if page === 'index'
        .page-header__banner.banner
          p.banner__title Большой выбор газового оборудования
          p.banner__text Ремотируем котлы, колонки, насосы
          p.banner__text Бесплатная доставка
      else
        .page-header__breadcrumbs.breadcrumbs
          ul.breadcrumbs__list
            - var pages;

            if page === 'catalog'
              -
                pages = [{
                  title: 'Главная',
                  link: 'index.html'
                }, {
                  title: 'Каталог товаров'
                }];

            else if page === 'catalog-item'
              -
                pages = [{
                  title: 'Главная',
                  link: 'index.html'
                }, {
                  title: 'Каталог товаров',
                  link: 'catalog.html'
                }, {
                  title: 'Наименование товара'
                }];

            else if page === 'cart'
              -
                pages = [{
                  title: 'Главная',
                  link: 'index.html'
                }, {
                  title: 'Каталог товаров',
                  link: 'catalog.html'
                }, {
                  title: 'Корзина'
                }];

            else if page === 'user-area'
              -
                pages = [{
                  title: 'Главная',
                  link: 'index.html'
                }, {
                  title: 'Личный кабинет'
                }];

            else if page === '404'
              -
                pages = [{
                  title: 'Главная',
                  link: 'index.html'
                }, {
                  title: '404'
                }];

            else if page === 'order'
              -
                pages = [{
                  title: 'Главная',
                  link: 'index.html'
                }, {
                  title: 'Каталог товаров',
                  link: 'catalog.html'
                }, {
                  title: 'Оформление заказа'
                }];

            else if page === 'company'
              -
                pages = [{
                  title: 'Главная',
                  link: 'index.html'
                }, {
                  title: 'Жизнь компании'
                }];

            else if page === 'contacts'
              -
                pages = [{
                  title: 'Главная',
                  link: 'index.html'
                }, {
                  title: 'Контакты'
                }];

            else
              -
                pages = [{
                  title: 'Главная',
                  link: 'index.html'
                }, {
                  title: 'Неизвестная страница'
                }];

            - var itemClass;

            each page, index in pages
              if index === pages.length - 1
                - itemClass = 'breadcrumbs__item breadcrumbs__item--active';
              else
                - itemClass = 'breadcrumbs__item';

              li(class=itemClass)
                if page.link
                  a.breadcrumbs__link(href=page.link)=page.title
                else
                  a.breadcrumbs__link=page.title

        if page === 'catalog'
          a.page-header__toggler.toggler(href="#", aria-label="Открыть фильтр")
            i.toggler__icon.fas.fa-sliders-h

    if (page === 'catalog')
      include modal/filter
