aside.relative.relative--mobile
  - var titles = ['Вы недавно смотрели', 'Похожие товары', 'Опции и аксессуары'];

  each title in titles
    p.relative__text= title

    .relative__slider.swiper-container
      ul.relative__list.swiper-wrapper
        - var slidesCount = 8;
        - var slide = 0;

        while slide < slidesCount
          - slide++;

          li.relative__item.swiper-slide
            p.relative__image
              img(src="img/goods-gas.png", alt="")
            .relative__info
              h3.relative__title
                a.relative__link(href="#") Водонагреватель Haier IGW 10 B
              span.relative__price.price 2000 <i class="price__icon far fa-ruble-sign"></i>
              a.relative__link.relative__link--to-cart(href="#") В корзину

aside.relative.relative--desktop.tabs
  p.tabs__toggles
    a.tabs__toggle.tabs__toggle--active(href="#") Вы недавно смотрели
    a.tabs__toggle(href="#") Опции и аксессуары
    a.tabs__toggle(href="#") Похожие товары

  .tabs__content
    - var tabsCount = 3;
    - var i = 0;
    - var tabClass;

    while i < tabsCount
      - i++;

      if i === 1
        - tabClass = 'tabs__item tabs__item--active';
      else
        - tabClass = 'tabs__item';

      .relative__slider.swiper-container(class=tabClass)
        ul.relative__list.swiper-wrapper
          - var slidesCount = 8;
          - var slide = 0;

          while slide < slidesCount
            - slide++;

            li.relative__item.swiper-slide
              p.relative__image
                img(src="img/goods-gas.png", alt="Газовый котёл")
              .relative__info
                h3.relative__title
                  a.relative__link(href="#") Водонагреватель Haier IGW 10 B
                span.relative__price.price 2000 <i class="price__icon far fa-ruble-sign"></i>
                a.relative__link.relative__link--to-cart(href="#") В корзину

        .relative__scrollbar

