.total
  a.total__btn.total__btn--buy(href="#") К покупкам
  .total__info
    p.total__consist
      span.total__title В корзине
      |
      |
      span.total__text
        span.total__count 3
        |
        | товара
    p.total__status
      span.total__title Розничная покупка
      |
      |
      span.total__price Итого: 6000 <i class="far fa-ruble-sign"></i>
  a.total__btn.total__btn--order(href="#") Оформить заказ
