extends templates/layout

block vars
  - var page = '404'

block content
  main.not-found
    span.not-found__text.not-found__text--attention 404
    p.not-found__text.not-found__text--success Данной страницы не существует, но в <a class="not-found__link" href="catalog.html">каталоге наших товаров</a> вы найдёте всё необходимо

