extends templates/layout

block vars
  - var page = 'cart'

block content
  main.cart
    .cart__wrapper
      form.cart__form
        table.cart__table
          thead.cart__header
            tr.cart__row
              th.cart__cell.cart__cell--head Товар
              th.cart__cell.cart__cell--head Количество
              th.cart__cell.cart__cell--head
                span.cart__head Цена
                span.cart__desc розница
              th.cart__cell.cart__cell--head.cart__cell--bulk
                span.cart__head Цена
                span.cart__desc мел. опт
              th.cart__cell.cart__cell--head.cart__cell--bulk
                span.cart__head Цена
                span.cart__desc круп. опт
              th.cart__cell.cart__cell--head
                a.cart__delete(href="#") Удалить всё

          tbody.cart__content
            - var rowsCount = 3;
            - var i = 0;

            while i < rowsCount
              - i++;

              tr.cart__row
                td.cart__cell
                  a.cart__product(href="catalog-item.html")
                    img.cart__image(src="img/goods-gas.png", alt="Водонагреватель")
                    | Водонагреватель Hier IGW 10 B
                td.cart__cell
                  input.number__input(type="number", value="1", min="1", step="1")
                td.cart__cell
                  p.cart__price.cart__price--retail.price 2000 <i class="far fa-ruble-sign"></i>
                td.cart__cell.cart__cell--bulk
                  p.cart__price.cart__price--bulk 1000 <i class="far fa-ruble-sign"></i>
                td.cart__cell.cart__cell--bulk
                  p.cart__price.cart__price--bulk 500 <i class="far fa-ruble-sign"></i>
                td.cart__cell
                  a.cart__remove.cross(href="#")
                    i.cross__icon.far.fa-times(alt="Удалить товар")

    include includes/total
