extends templates/layout

block vars
  - var page = 'catalog-item'

block content
  main.catalog-item
    .catalog-item__wrapper
      section.gallery
        .gallery__preview.preview.swiper-container
          ul.preview__list.swiper-wrapper
            - var count = 6;
            - var i = 0;

            while i < count
              - i++;

              li.preview__item.swiper-slide
                a.preview__link(href="img/item-pump.png")
                  img.preview__image(src="img/item-pump.png", alt="Насос Grundfos")

        .gallery__thumbs.thumbs
          .thumbs__wrapper.swiper-container
            ul.thumbs__list.swiper-wrapper
              - var count = 6;
              - var i = 0;

              while i < count
                - i++;

                li.thumbs__item.swiper-slide
                  img.thumbs__image(src="img/item-pump.png", alt="Насос Grundfos", tabindex="0")

          button.thumbs__btn.thumbs__btn--prev(type="button", aria-label="Назад")
            i.thumbs__icon.fas.fa-angle-left
          button.thumbs__btn.thumbs__btn--next(type="button", aria-label="Вперед")
            i.thumbs__icon.fas.fa-angle-right

      .catalog-item__common
        .catalog-item__meta
          .catalog-item__status
            span.catalog-item__avail.catalog-item__avail--in-stock В наличии
            p.catalog-item__text
              | Цена розницы:
              |
              span.catalog-item__price.price 2000 <i class="price__icon far fa-ruble-sign"></i>

          p.catalog-item__controls.purchase
            a.purchase__btn.purchase__btn--to-cart(href="#") В корзину
            a.purchase__btn.purchase__btn--quick-buy(href="#") Быстрая покупка

        .catalog-item__desc
          .catalog-item__toggler
            p Котлы с герметичной камерой сгорания, в которых забор воздуха для горения и отвод продуктов сгорания газа, осуществляется через внешнюю стену дома. Предназначенные для теплоснабжения и горячего водоснабжения индивидуальных жилых домов, квартир, сооружений коммунального и другого назначения, оборудованных системой водяного отопления, с рабочим давлением до 70 кПа, с естественной (за счет разной плотности холодной и горячей воды) циркуляцией, системой горячего водоснабжения, и природным газом низкого давления.
            p Котлы с герметичной камерой сгорания, в которых забор воздуха для горения и отвод продуктов сгорания газа, осуществляется через внешнюю стену дома. Предназначенные для теплоснабжения и горячего водоснабжения индивидуальных жилых домов, квартир, сооружений коммунального и другого назначения, оборудованных системой водяного отопления, с рабочим давлением до 70 кПа, с естественной (за счет разной плотности холодной и горячей воды) циркуляцией, системой горячего водоснабжения, и природным газом низкого давления.
          a.catalog-item__expand(href="#") Раскрыть весь текст

      section.catalog-item__tech.tabs
        p.tabs__toggles
          a.tabs__toggle.tabs__toggle--active(href="#") Характеристики
          a.tabs__toggle(href="#") Документация

        .tabs__content
          .tabs__item.tabs__item--active.spec
            table.spec__table
              tr.spec__row
                td.spec__cell.spec__cell--key Топливо
                td.spec__cell.spec__cell--value Природный газ ГОСТ 5542-87
              tr.spec__row
                td.spec__cell.spec__cell--key
                  | Давление газа, Па
                  ul.spec__list
                    li.spec__item минимальный:
                    li.spec__item номинальный:
                td.spec__cell.spec__cell--value 1274±100
              tr.spec__row
                td.spec__cell.spec__cell--key Номинальная тепловая мощность, кВт
                td.spec__cell.spec__cell--value 7±0,35
              tr.spec__row
                td.spec__cell.spec__cell--key Коэффициент полезного действия, %, не меньше
                td.spec__cell.spec__cell--value 92
              tr.spec__row
                td.spec__cell.spec__cell--key Диапазон регулирования температуры воды на выходе из котла в систему отопления,°С
                td.spec__cell.spec__cell--value От 50 до 90
              tr.spec__row
                td.spec__cell.spec__cell--key Затрата воды на горячее водоснабжение при нагреве на (35±5) °С, л\мин
                td.spec__cell.spec__cell--value 170±30
              tr.spec__row
                td.spec__cell.spec__cell--key
                  | Рабочее давление воды, кПа,не больше:
                  ul.spec__list
                    li.spec__item в контуре отопления котла
                    li.spec__item в контуре горячего водоснабжения
                td.spec__cell.spec__cell--value 70/600
              tr.spec__row
                td.spec__cell.spec__cell--key
                  | Присоединительная резьба штуцеров:
                  ul.spec__list
                    li.spec__item для подведения и отвода воды системы отопления
                    li.spec__item для подведения и отвода системы горячего водоснабжения
                    li.spec__item для подведения газа
                td.spec__cell.spec__cell--value G1 1/2 / G1 1/2 / G1 1/2
              tr.spec__row
                td.spec__cell.spec__cell--key Габаритные размеры, мм, не более (высота/глубина/ширина диаметр
                td.spec__cell.spec__cell--value 700/580/290
              tr.spec__row
                td.spec__cell.spec__cell--key Масса, кг, Не больше
                td.spec__cell.spec__cell--value 55

          .tabs__item.docs
            ul.docs__list
              - var count = 5;
              - var i = 0;

              while i < count
                - i++;

                li.docs__item
                  a.docs__link(href="#")
                    i.docs__icon.far.fa-file-alt
                    |
                    | Название документа

  include includes/relative
