extends templates/layout

block vars
  - var page = 'catalog'

block content
  main.catalog
    nav.page-nav
      .page-nav__wrapper.swiper-container
        ul.page-nav__list.swiper-wrapper
          - var items = ['Колонки', 'Водонагреватели', 'Горелки', 'Котлы', 'Насосы', 'Фитинги', 'Запчасти'];

          each item, index in items
            if index === 0
              li.page-nav__item.page-nav__item--active.swiper-slide
                a.page-nav__link(href="#")= item
            else
              li.page-nav__item.swiper-slide
                a.page-nav__link(href="#")= item

    section.catalog__content
      ul.catalog__list
        - var count = 6;
        - var i = 0;

        while i < count
          - i++;

          li.catalog__item.product
            p.product__image
              img(src="img/goods-gas.png", alt="Котел настенный")
            .product__content
              h3.product__title
                a(href="catalog-item.html") Длинное или не очень название
              span.product__price 2000 <i class="far fa-ruble-sign"></i>
              p.product__desc Nullam nibh ex, posuere sit amet volutpat consequat, faucibus ut orci. Aenean quis odio sit amet urna suscipit pretium id a urna. Nullam maximus volutpat nibh, nec hendrerit justo eleifend quis.
              p.product__controls.product__controls--desktop
                a.product__to-cart(href="#") В корзину
                a.product__quick-buy(href="#") Быстрая покупка

            p.product__controls.product__controls--mobile
              a.product__to-cart(href="#") В корзину
              a.product__quick-buy(href="#") Быстрая покупка

    .catalog__pagination.pagination
      .pagination__wrapper
        a.pagination__link.pagination__link--prev.pagination__link--hidden(href="#", aria-label="Назад")
          i.fas.fa-angle-left

        ul.pagination__list
          - var count = 5;
          - var i = 0;

          while i < count
            - i++;

            if i === 1
              li.pagination__item.pagination__item--active
                a.pagination__link(href="#")= i
            else
              li.pagination__item
                a.pagination__link(href="#")= i

        a.pagination__link.pagination__link--next(href="#", aria-label="Вперёд")
          i.fas.fa-angle-right
