extends templates/layout

block vars
 - var page = 'company'

block content
  main.page-main
    -
      var news = [{
        title: 'Название новости',
        day: 22,
        month: '07',
        year: 2018,
        image: 'img/article-1.jpg',
        alt: 'Природа, озеро, лес',
        type: 'Видео'
      }, {
        title: 'Название новости',
        day: 22,
        month: '07',
        year: 2019,
        image: 'img/article-2.jpg',
        alt: 'Подвал с котлом',
        type: 'Фото'
      }, {
        title: 'Название новости',
        day: 22,
        month: '07',
        year: 2018,
        image: 'img/article-3.jpg',
        alt: 'Ванная комната',
        type: 'Видео'
      }, {
        title: 'Название новости',
        day: 22,
        month: '07',
        year: 2018,
        image: 'img/article-4.jpg',
        alt: 'Подключение к котлу',
        type: 'Фото'
      }, {
        title: 'Название новости',
        day: 22,
        month: '07',
        year: 2018,
        image: 'img/article-5.jpg',
        alt: 'Чувак настраивает котёл',
        type: 'Фото'
      }, {
        title: 'Название новости',
        day: 22,
        month: '07',
        year: 2019,
        image: 'img/article-6.jpg',
        alt: 'Подвал с котлом',
        type: 'Фото'
      }, {
        title: 'Название новости',
        day: 22,
        month: '07',
        year: 2018,
        image: 'img/article-1.jpg',
        alt: 'Подключение к котлу',
        type: 'Фото'
      }];

    section.news.news--mobile
      .grid-sizer(style="width: 20%")

      each novelty in news
        article.novelty(style= 'background-image: url(' + novelty.image + ')')
          a.novelty__link(href= novelty.image, aria-label= novelty.type)
            header.novelty__header
              h1.novelty__title= novelty.title
              time.novelty__date(datetime= novelty.year + '-' + novelty.month + '-' + novelty.day)= novelty.day + '.' + novelty.month + '.' + novelty.year
            section.novelty__content
            .novelty__overlay

            if novelty.type === 'Видео'
              i.novelty__icon.fab.fa-youtube

    section.news.news--desktop
      - var rowIndex;

      .news__row.news__row--big
        each novelty, index in news
          - rowIndex = index - 2;

          if index < (news.length - 1) / 2
            article.novelty(style= 'background-image: url(' + novelty.image + ')')
              a.novelty__link(href= novelty.image, aria-label= novelty.type)
                header.novelty__header
                  h1.novelty__title= novelty.title
                  time.novelty__date(datetime= novelty.year + '-' + novelty.month + '-' + novelty.day)= novelty.day + '.' + novelty.month + '.' + novelty.year
                section.novelty__content
                .novelty__overlay

                if novelty.type === 'Видео'
                  i.novelty__icon.fab.fa-youtube

      .news__row
        each novelty, index in news

          if index >= rowIndex - 1
            article.novelty(style= 'background-image: url(' + novelty.image + ')')
              a.novelty__link(href= novelty.image, aria-label= novelty.type)
                header.novelty__header
                  h1.novelty__title= novelty.title
                  time.novelty__date(datetime= novelty.year + '-' + novelty.month + '-' + novelty.day)= novelty.day + '.' + novelty.month + '.' + novelty.year
                section.novelty__content
                .novelty__overlay

                if novelty.type === 'Видео'
                  i.novelty__icon.fab.fa-youtube
