extends templates/layout

block vars
  - var page = 'contacts'

block content
  main.contact
    .contact__wrapper
      .contact__info
        ul.contact__list
          - var contacts = ['г. Таганрог, ул. Октябрьская, д.75', 'г. Таганрог, ул. Вторая, д.75', 'г. Таганрог, ул. Третья, д.75'];

          each contact in contacts
            li.contact__item
              a.contact__link(href="#")
                p.contact__address= contact
                span.contact__phone + 7 928 75 888 75
                table.contact__table
                  tr.contact__row
                    td.contact__cell.contact__cell--key График работы:
                    td.contact__cell.contact__cell--value
                      span Пн-Пт: 09:00 - 19:00
                      span Сб-Вс: выходной

        section.contact__content
          h2.contact__title Связаться с нами
          .contact__hidden
            form.contact__form.form
              p.contact__field.form__field
                input.contact__input.form__input(type="text", placeholder="Как вас зовут?")
              p.contact__field.form__field
                input.contact__input.form__input(type="email", placeholder="e-mail")
              p.contact__field.form__field
                textarea.contact__message.form__message(placeholder="Ваш вопрос")
              p.contact__field.form__field.form__field--double
                input(type="checkbox", id="contact-agree")
                label(for="contact-agree") Даю согласие на обработку своих данных
                button.contact__submit(type="submit", aria-label="Отправить сообщение")
                  i.far.fa-pen

      .contact__map
        .contact__container#contact-map

