extends templates/layout

block vars
 - var page = 'index'

block content
  main.page-main
    section.goods
      ul.goods__list
        - var goods = [{title: 'Газовые колонки', image: 'img/goods-gas.png', color: '#6ca381'}, {title: 'Водонагреватели', image: 'img/goods-heater.png', color: '#575e8a'}, {title: 'Горелки', image: 'img/goods-jet.png', color: '#964731'}, {title: 'Котлы отопления', image: 'img/goods-boiler.png', color: '#82a4cc'}, {title: 'Насосы', image: 'img/goods-pump.png', color: '#575e8a'}, {title: 'Запчасти', image: 'img/goods-spares.png', color: '#48817e'} ];

        each item in goods
          li.goods__item(style="background-color:" + item.color)
            a.goods__link(href="catalog-item.html")
              img.goods__image(src=item.image, alt=item.title)
              .goods__desc
                h3.goods__title=item.title
                p.goods__text Nullam nibh ex, posuere sit amet volutpat consequat, faucibus ut orci. Aenean quis odio sit amet urna suscipit pretium id a urna. Nullam maximus volutpat nibh, nec hendrerit justo eleifend quis.

    section.contact-us
      article.contact-us__location.location
        img.location__image(src="img/contact-land.png")
        .location__info
          a.location__phone(href="tel:+79287588875") + 7 928 75 888 75
          p.location__address г. Таганрог,<br>
            | Поляковское шоссе, 49

      article.contact-us__callback.callback
        p.callback__title Мы перезвоним вам
        form.callback__form
          p.callback__field
            input.callback__input(type="tel", placeholder="введите номер телефона")
          p.callback__field.callback__field--double
            input(type="checkbox", id="agree")
            label.callback__label(for="agree") Даю согласие на обработку своих данных
            button.callback__submit(type="submit")
              i.callback__icon.far.fa-phone-volume

    .ajax-container
      section.company
        h2.company__title Из жизни компании
        a.company__link(href="company.html")

      .ajax-container__hide
        section.reviews.swiper-container
          ul.reviews__list.swiper-wrapper
            - var count = 4

            while count > 0
              - count--

              li.reviews__item.swiper-slide
                p.reviews__image
                  img.reviews__image-src(src="img/review-image.jpg")
                blockquote.reviews__content
                  cite.reviews__origin Отзыв<br>
                    span.reviews__name Ивана Петровича
                  p.reviews__text Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. С другой стороны сложившаяся структура организации в значительной степени обуславливает создание дальнейших направлений развития. С другой стороны рамки и место обучения кадров представляет собой.

          .reviews__controls
            .reviews__pagination
            a.reviews__edit(href="#")
              i.reviews__icon.fal.fa-pen

        section.vendors.swiper-container
          ul.vendors__list.swiper-wrapper
            - var vendors = ["yunker", "thermo", "unipump", "aton", "steelpumps", "yunker", "thermo"];

            each vendor in vendors
              li.vendors__item.swiper-slide
                a.vendors__link(href="#")
                  img.vendors__image(src="img/vendor-" + vendor + ".png", alt=vendor)

          .vendors__scroll

