extends templates/layout

block vars
  - var page = 'order'

block content
  main.order
    .order__wrapper
      form.order__form.form
        fieldset.order__group.form__group
          a.order__quick-buy(href="#") Сделать быстрый заказ
          section.order__requisites.requisites
            h2.order__title Ваши реквизиты
            .form__field.requisites__field.order__field
              input.form__input.requisites__input(type="text", placeholder="Ф.И.О.")
            .form__field.requisites__field.order__field
              input.form__input.requisites__input(type="tel", placeholder="Номер телефона")
            .form__field.requisites__field.order__field
              input.form__input.requisites__input(type="email", placeholder="e-mail")
            .form__field.requisites__field.order__field
              .requisites__location.form__select
                select.form__select-src
                  option(selected, disabled) Выберите населенный пункт
                  option(value="Уэст Сайд") Уэст Сайд
                  option(value="Ист Сайд") Ист Сайд
                  option(value="Центровые") Центровые
            .form__field.form__field--double.order__field
              label.form__label.form__label--col
                span Адрес доставки:
                input.form__input.requisites__input(type="text", placeholder="Выберите из списка", disabled)
              a.requisites__btn(href="#", aria-label="Выбрать из списка")
                i.fal.fa-clipboard-list
            .form__field.requisites__field
              textarea.form__message(rows="4", placeholder="Комментарий")

        fieldset.order__group.form__group
          section.order__delivery
            h2.order__title.order__title--pad Выберите способ доставки
            ul.order__list.accordeon
              li.order__item
                .order__toggle.accordeon__toggle
                  input(type="radio", name="delivery", id="pickup")
                  label(for="pickup") Самовывоз
                .address.accordeon__dropdown
                  .address__map#delivery-map
                  ul.address__list
                    li.address__item
                      input(type="radio", name="pickup-point")
                      label.address__link(href="#")
                        span.address__location г. Таганрог, ул. Октябрьское, д.75
                        span.address__phone + 7 928 75 888 75
                    li.address__item
                      input(type="radio", name="pickup-point")
                      label.address__link(href="#")
                        span.address__location г. Таганрог, ул. Третья, д.75
                        span.address__phone + 7 928 75 888 75
                    li.address__item
                      input(type="radio", name="pickup-point")
                      label.address__link(href="#")
                        span.address__location г. Таганрог, ул. Вторая, д.75
                        span.address__phone + 7 928 75 888 75

              li.order__item
                .order__toggle.accordeon__toggle
                  input(type="radio", name="delivery", id="company")
                  label(for="company") Транспортная компания
                .address.accordeon__dropdown
                  ul.address__list
                    li.address__item
                      input(type="radio", name="tc")
                      label.address__link(href="#")
                        span.address__location г. Таганрог, ул. Октябрьское, д.75
                        span.address__phone + 7 928 75 888 75
                    li.address__item
                      input(type="radio", name="tc")
                      label.address__link(href="#")
                        span.address__location г. Таганрог, ул. Третья, д.75
                        span.address__phone + 7 928 75 888 75
                    li.address__item
                      input(type="radio", name="tc")
                      label.address__link(href="#")
                        span.address__location г. Таганрог, ул. Вторая, д.75
                        span.address__phone + 7 928 75 888 75

              li.order__item
                .order__toggle.accordeon__toggle
                  input(type="radio", name="delivery", id="post")
                  label(for="post") Почта
                .address.accordeon__dropdown
                  p.order__text Vivamus a ipsum nisl. Sed id sapien non arcu consectetur varius. Sed quis dolor condimentum, faucibus libero non, molestie libero. Pellentesque non sapien quis est varius sollicitudin. Nam pharetra ultrices hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc hendrerit sit amet lorem quis fermentum. Morbi at orci tellus. Sed est nisi, ullamcorper eu elit ut, tincidunt blandit felis. Ut velit nulla, elementum eu tincidunt at, dictum et nulla.

        fieldset.order__group.form__group
          section.order__payment
            h2.order__title.order__title--pad Выберите способ оплаты
            ul.order__list.accordeon
              li.order__item
                .order__toggle.accordeon__toggle
                  input(type="radio", name="payment", id="card-online")
                  label(for="card-online") Банковской картой
                .accordeon__dropdown
                  p.order__text Vivamus a ipsum nisl. Sed id sapien non arcu consectetur varius. Sed quis dolor condimentum, faucibus libero non, molestie libero. Pellentesque non sapien quis est varius sollicitudin. Nam pharetra ultrices hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc hendrerit sit amet lorem quis fermentum. Morbi at orci tellus. Sed est nisi, ullamcorper eu elit ut, tincidunt blandit felis. Ut velit nulla, elementum eu tincidunt at, dictum et nulla.

              li.order__item
                .order__toggle.accordeon__toggle
                  input(type="radio", name="payment", id="card")
                  label(for="card") Картой при получении
                .accordeon__dropdown
                  p.order__text Vivamus a ipsum nisl. Sed id sapien non arcu consectetur varius. Sed quis dolor condimentum, faucibus libero non, molestie libero. Pellentesque non sapien quis est varius sollicitudin. Nam pharetra ultrices hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc hendrerit sit amet lorem quis fermentum. Morbi at orci tellus. Sed est nisi, ullamcorper eu elit ut, tincidunt blandit felis. Ut velit nulla, elementum eu tincidunt at, dictum et nulla.

              li.order__item
                .order__toggle.accordeon__toggle
                  input(type="radio", name="payment", id="cash")
                  label(for="cash") Наличными при получении
                .accordeon__dropdown
                  p.order__text Vivamus a ipsum nisl. Sed id sapien non arcu consectetur varius. Sed quis dolor condimentum, faucibus libero non, molestie libero. Pellentesque non sapien quis est varius sollicitudin. Nam pharetra ultrices hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc hendrerit sit amet lorem quis fermentum. Morbi at orci tellus. Sed est nisi, ullamcorper eu elit ut, tincidunt blandit felis. Ut velit nulla, elementum eu tincidunt at, dictum et nulla.

    include includes/total

