extends templates/layout

block content
  main.page-text
    .page-text__wrapper
      img(src="img/image-text.png", alt="Медные фреоновые трубки с клапаном", style="float: left; margin-right: 50px; margin-bottom: 30px; max-width: 50%")

      p Curabitur eu congue neque. Phasellus efficitur lectus consequat lectus euismod volutpat. Morbi at dui id purus consequat pretium. Donec luctus ultricies odio nec dictum. Nulla facilisi. Mauris dui lectus, ullamcorper id orci id, sagittis ultricies leo. Integer ultricies metus a augue volutpat, lacinia blandit nisi blandit. Donec venenatis, neque quis mollis tincidunt, enim nulla fermentum metus, non pharetra arcu nisi vitae elit. Sed aliquam ex ligula, lacinia pulvinar odio convallis eget. Duis facilisis iaculis metus in feugiat. Praesent pharetra eros id sapien aliquet, quis molestie tortor imperdiet. Aenean vel interdum tortor. Duis dictum finibus aliquet.

      p Vivamus a ipsum nisl. Sed id sapien non arcu consectetur varius. Sed quis dolor condimentum, faucibus libero non, molestie libero. Pellentesque non sapien quis est varius sollicitudin. Nam pharetra ultrices hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc hendrerit sit amet lorem quis fermentum. Morbi at orci tellus. Sed est nisi, ullamcorper eu elit ut, tincidunt blandit felis. Ut velit nulla, elementum eu tincidunt at, dictum et nulla. Sed facilisis vulputate dictum. Suspendisse rhoncus maximus dignissim. Sed quis enim tincidunt, imperdiet odio eu, congue lorem. Proin placerat, magna id ullamcorper pellentesque, libero nisi faucibus velit, bibendum consectetur ex ipsum ac nibh.

      p Suspendisse ac risus feugiat, lobortis magna eu, blandit orci. Ut et euismod ex, at hendrerit est. Mauris hendrerit orci non arcu gravida aliquam. Pellentesque placerat volutpat semper. Nullam posuere auctor massa in condimentum. Nam semper nisi tincidunt, sodales velit ut, iaculis mi. Maecenas vel sodales diam.

      ul(style="clear: both")
        li Curabitur eu congue neque. Phasellus efficitur lectus consequat lectus euismod volutpat. Morbi at dui id purus consequat pretium.
        li Donec luctus ultricies odio nec dictum. Nulla facilisi. Mauris dui lectus, ullamcorper id orci id, sagittis ultricies leo.
        li Integer ultricies metus a augue volutpat, lacinia blandit nisi blandit. Donec venenatis, neque quis mollis tincidunt, enim nulla fermentum metus, non pharetra arcu nisi vitae elit.
        li Sed aliquam ex ligula, lacinia pulvinar odio convallis eget. Duis facilisis iaculis metus in feugiat. Praesent pharetra eros id sapien aliquet, quis molestie tortor imperdiet. Aenean vel interdum tortor. Duis dictum finibus aliquet.

      p Vivamus a ipsum nisl. Sed id sapien non arcu consectetur varius. Sed quis dolor condimentum, faucibus libero non, molestie libero. Pellentesque non sapien quis est varius sollicitudin. Nam pharetra ultrices hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc hendrerit sit amet lorem quis fermentum. Morbi at orci tellus. Sed est nisi, ullamcorper eu elit ut, tincidunt blandit felis. Ut velit nulla, elementum eu tincidunt at, dictum et nulla. Sed facilisis vulputate dictum. Suspendisse rhoncus maximus dignissim. Sed quis enim tincidunt, imperdiet odio eu, congue lorem. Proin placerat, magna id ullamcorper pellentesque, libero nisi faucibus velit, bibendum consectetur ex ipsum ac nibh.

      p Suspendisse ac risus feugiat, lobortis magna eu, blandit orci. Ut et euismod ex, at hendrerit est. Mauris hendrerit orci non arcu gravida aliquam. Pellentesque placerat volutpat semper. Nullam posuere auctor massa in condimentum. Nam semper nisi tincidunt, sodales velit ut, iaculis mi. Maecenas vel sodales diam.
