extends templates/layout

block vars
  - var page = 'user-area'

block content
  main.user
    .user__wrapper
      .user__data
        .user__column.personal
          h3.personal__title.user__title Ваши данные
          form.personal__form
            .personal__field.user__field
              input(type="text", placeholder="Ф.И.О.", value="Павел Павлович Якубович", required, disabled)
            .personal__field.user__field
              label(for="user-phone") тел.:
              input(type="tel", id="user-phone", placeholder="8 900 123 44 55", value="8 000 999 88 88", disabled)
            .personal__field.user__field
              label(for="user-email") e-mail:
              input(type="email", id="user-email", value="email@domen.ru", placeholder="email@domen.ru", required, disabled)
            .personal__field.user__field
              button.personal__submit.user__submit(type="submit") Отправить
          .personal__controls
            a.personal__link.personal__link--edit(href="#") Изменить
            a.personal__link.personal__link--pass(href="#") Поменять пароль

        .user__column.requisites
          h3.requisites__title.user__title Ваши реквизиты
          a.requisites__edit(href="#")
            i.fal.fa-clipboard-list(alt="Изменить реквизиты")

          form.requisites__form
            .requisites__field.user__field
              label(for="user-address") адрес доставки:
              input(type="text", id="user-address", placeholder="Улица, дом, кв./оф.", disabled, value="Липовксая, 15, кв./оф. 43")
            button.requisits__submit.user__submit(type="submit") Отправить

    .user__history.orders
      .orders__header
        .orders__wrapper
          h2.orders__title История заказов
          .orders__filter
            form.orders__form
              -
                var filters = [{
                  title: 'Все заказы',
                  name: 'filter-all'
                }, {
                  title: 'Розница',
                  name: 'filter-retail'
                }, {
                  title: 'Мел. опт',
                  name: 'filter-bulk-s'
                }, {
                  title: 'Круп. опт',
                  name: 'filter-bulk-l'
                }];

              each filter, index in filters
                - var isChecked = false

                if index === 0
                  - isChecked = true

                p.orders__check
                  input(type="checkbox", name=filter.name, id="filter-" + index, checked=isChecked)
                  label(for="filter-" + index)= filter.title

      .orders__content
        .orders__table.table.table--dummy
          .table__header
            .table__row
              .table__wrapper
                - var columns = ['Номер заказа', 'Тип покупки', 'Сумма', 'Статус'];

                each column in columns
                  .table__cell.table__cell--head= column

          .table__content.accordeon
            -
              var rows = [{
                num: '2345',
                type: 'Мел. опт',
                sum: '2000',
                status: 'В обработке',
                statusClass: 'orders__row--progress'
              }, {
                num: '1345',
                type: 'Круп. опт',
                sum: '2000',
                status: 'Отправлен',
                statusClass: 'orders__row--sent'
              }, {
                num: '1845',
                type: 'Розница',
                sum: '6000',
                status: 'Заказ выполнен',
                statusClass: 'orders__row--filled'
              }];

            each row in rows
              a(href="#").table__row.orders__row.accordeon__toggle(class=row.statusClass)
                .table__wrapper
                  - for (var prop in row)
                    if prop === 'sum'
                      .table__cell
                        span.table__price.price= row[prop]
                          |
                          |
                          i.price__icon.far.fa-ruble-sign
                    else if (prop === 'status')
                      .table__cell.table__cell--status= row[prop]
                    else if prop !== 'statusClass'
                      .table__cell= row[prop]

              .accordeon__dropdown
                .orders__wrapper
                  table.orders__table.table.table--gen
                    tr.table__row
                      - var columns = ['Товар', 'Количество', 'Цена'];

                      each column in columns
                        th.table__cell.table__cell--head= column

                      -
                        var items = [{
                          title: 'Водонагреватель Haier IGW 10 B',
                          image: 'img/goods-heater.png',
                          quantity: 1,
                          price: 2000,
                          link: 'catalog-item.html'
                        }, {
                          title: 'Водонагреватель Haier IGW 10 B',
                          image: 'img/goods-heater.png',
                          quantity: 1,
                          price: 2000,
                          link: 'catalog-item.html'
                        }, {
                          title: 'Водонагреватель Haier IGW 10 B',
                          image: 'img/goods-heater.png',
                          quantity: 1,
                          price: 2000,
                          link: 'catalog-item.html'
                        }];

                    each item in items
                      tr.table__row
                        td.table__cell
                          a.table__product.orders__product(href=item.link)
                            img.table__image(src=item.image)
                            = item.title
                        td.table__cell
                          span.orders__quantity= item.quantity
                        td.table__cell
                          span.table__price.price= item.price
                            |
                            |
                            i.far.fa-ruble-sign





