doctype html

- var title = 'Таганрог-отопление'
block vars

html.no-js(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    title #{title}
    link(rel="stylesheet", href="css/style.min.css")
    script(data-search-pseudo-elements, defer, src="js/libs/fa.js")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")

  - var bodyClass;

  if page === 'company'
    - bodyClass = 'page--full';

  body.page(class= bodyClass)
    include ../includes/header
    block content
    include ../includes/footer
    include ../includes/modal/menu
    include ../includes/modal/search
    include ../includes/modal/cart
    include ../includes/modal/login
    include ../includes/modal/reg

    if page === 'user-area'
      include ../includes/modal/pass
    else if page === 'order'
      include ../includes/modal/address-list

    .overlay

    block scripts
    script(src="js/script.min.js")



