@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: local('Proxima Nova Condensed Bold'), local('ProximaNovaCond-Bold'),
        url('subset-ProximaNovaCond-Bold.woff2') format('woff2'),
        url('subset-ProximaNovaCond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: local('Proxima Nova Condensed Regular'), local('ProximaNovaCond-Regular'),
        url('subset-ProximaNovaCond-Regular.woff2') format('woff2'),
        url('subset-ProximaNovaCond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Cn Bl';
    src: local('Proxima Nova Condensed Black'), local('ProximaNovaCond-Black'),
        url('subset-ProximaNovaCond-Black.woff2') format('woff2'),
        url('subset-ProximaNovaCond-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: local('Proxima Nova Condensed Semibold'), local('ProximaNovaCond-Semibold'),
        url('subset-ProximaNovaCond-Semibold.woff2') format('woff2'),
        url('subset-ProximaNovaCond-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

