.modal.modal--address
  button.modal__close(type="button", aria-label="Закрыть окно")
    i.modal__icon.far.fa-times

  h2.modal__title.modal__title--address Список адресов

  form.modal__form.form
    p.form__field.form__field--double.modal__field.modal__field--address
      input(type="radio", id="address-1", name="address")
      label(for="address-1") Липовксая, 15, кв./оф.43
      a.cross(href="#")
        i.cross__icon.far.fa-times
    p.form__field.form__field--double.modal__field.modal__field--address
      input(type="radio", id="address-2", name="address")
      label(for="address-2") Набережная, 4/1, кв./оф.12
      a.cross(href="#")
        i.cross__icon.far.fa-times
    button.modal__submit.modal__submit--choose(type="submit") Использовать выбранный адрес

  form.modal__form.form.modal__form--save-address
    p.form__field.modal__field.modal__field--address
      input.form__input(type="text", placeholder="Ваша улица")
    p.form__field.form__field--double.modal__field--address.modal__field--double
      input.form__input(type="number", placeholder="Номер дома")
      input.form__input(type="number", placeholder="Квартира/Офис")
    button.modal__submit.modal__submit--save(type="submit") Сохранить новый адрес
