.modal.modal--cart
  button.modal__close(type="button", aria-label="Закрыть окно")
    i.modal__icon.far.fa-times

  p.modal__header
    span.modal__text Розница
    span.modal__text 20 000 р

  .modal__cart.cart.cart--modal
    - var columns = ['Товар', 'Количество', 'Цена'];
    -
      var items = [{
        title: 'Водонагреватель Hier IGW 10 B',
        quantity: 1,
        price: 2000,
        link: 'catalog-item.html',
        image: 'img/goods-gas.png'
      }, {
        title: 'Водонагреватель Hier IGW 10 B',
        quantity: 1,
        price: 2000,
        link: 'catalog-item.html',
        image: 'img/goods-gas.png'
      }, {
        title: 'Водонагреватель Hier IGW 10 B',
        quantity: 1,
        price: 2000,
        link: 'catalog-item.html',
        image: 'img/goods-gas.png'
      }];

    form.cart__form
      table.cart__table
        thead.cart__header
          tr.cart__row

            each column in columns
              th.cart__cell.cart__cell--head= column

        tbody.cart__content
          each item in items
            tr.cart__row
              td.cart__cell
                a.cart__product(href=item.link)
                  img.cart__image(src=item.image, alt=item.title)
                  = item.title
              td.cart__cell
                input.number__input(type="number", value=item.quantity, min="1", step="1")
              td.cart__cell
                p.cart__price.cart__price--retail.price= item.price
                  |
                  |
                  i.far.fa-ruble-sign
              td.cart__cell
                a.cart__remove.cross(href="#")
                  i.cross__icon.far.fa-times(alt="Удалить товар")

      .cart__total
        .cart__info
          p.cart__consist
            span.cart__text
              span.cart__count 3
              |
              | товара
          p.cart__status
            span.cart__price.cart__price--total Итого: 6000
              |
              |
              i.far.fa-ruble-sign
        a.cart__btn.cart__btn--order(href="#") Оформить заказ


