.modal.modal--filter
  button.modal__close(type="button", aria-label="Закрыть окно")
    i.modal__icon.far.fa-times

  .modal__filter.filter
    form.filter__form.form
      fieldset.form__group.filter__group.filter__group--price
        .form__wrapper
          legend.form__capture.filter__capture Цена:
          .form__field.form__field--double
            label.form__label.form__label--num.filter__num
              input.form__input.form__input--num(type="number")
              |
              |
              span От
            label.form__label.form__label--num.filter__num
              input.form__input.form__input--num(type="number")
              |
              |
              span До

      fieldset.form__group.filter__group
        .form__wrapper.accordeon
          legend.form__capture.accordeon__toggle.accordeon__toggle--active.filter__toggle.filter__capture Бренды:

          - var brands = ['Quisque nunc', 'ultrices vel', 'efficitur', 'ultrices', 'eget eros', 'Nam at nulla', 'id justo', 'sodales sagittis', 'In urna mi'];

          .accordeon__dropdown.filter__dropdown
            each brand, index in brands
              p.form__field
                input(type='checkbox', id="brand-" + index)
                label(for="brand-" + index)=brand

      fieldset.form__group.filter__group
        .form__wrapper.accordeon
          legend.form__capture.accordeon__toggle.filter__toggle.filter__capture Типы:

          - var types = ['Все типы', 'Termomax-A (напольные)', 'Termomax-C (парапетные)', 'Атон - ТС', 'Дымоходные', 'Конвектора', 'Конденсационные', 'Навесные', 'Парапетники'];

          .accordeon__dropdown.filter__dropdown
            each type, index in types
              p.form__field
                input(type='checkbox', id="type-" + index)
                label(for="type-" + index)=type
