.modal.modal--login
  button.modal__close(type="button", aria-label="Закрыть окно")
    i.modal__icon.far.fa-times

  h2.modal__title Авторизоваться на сайте
  form.modal__form.form
    p.form__field.modal__field
      input.form__input(type="email", placeholder="e-mail")
    p.form__field.modal__field
      input.form__input(type="password", placeholder="пароль")
    .form__field.form__field--double.modal__field
      .form__column
        a.modal__link(href="#") Забыли пароль?
        a.modal__link.modal__link--reg(href="#") Зарегистрироваться
      .form__column
        button.form__submit.modal__submit.modal__submit--login(type="submit", aria-label="Войти")
          i.fal.fa-door-open
