.modal.modal--menu
  button.modal__close(type="button", aria-label="Закрыть окно")
    i.modal__icon.far.fa-times

  form.modal__form.form
    p.modal__field.form__field
      input.modal__input.form__input(type="search", placeholder="Искать...")
      i.modal__icon.form__icon.far.fa-search

  nav.main-nav
    ul.main-nav__list
      -
        var links = [{
          title: 'Каталог',
          href: 'catalog.html'
        }, {
          title: 'Жизнь компании',
          href: 'company.html'
        }, {
          title: 'Инструкции',
          href: '#'
        }, {
          title: 'Контакты',
          href: 'contacts.html'
        }, {
          title: 'Вход',
          href: '#',
          class: 'main-nav__item--login'
        }];

      each link in links
        li.main-nav__item(class=link.class)
          a.main-nav__link(href=link.href)= link.title
