.modal.modal--pass
  button.modal__close(type="button", aria-label="Закрыть окно")
    i.modal__icon.far.fa-times

  form.modal__form.form
    p.form__field.modal__field
      input.form__input(type="password", placeholder="старый пароль")
    p.form__field.modal__field
      input.form__input(type="password", placeholder="новый пароль")
    .form__field
      button.form__submit.form__submit--red(type="submit", aria-label="Войти") Сбросить пароль
