.modal.modal--reg
  button.modal__close(type="button", aria-label="Закрыть окно")
    i.modal__icon.far.fa-times

  h2.modal__title Регистрация
  form.modal__form.form
    p.form__field.modal__field
      input.form__input(type="text", placeholder="имя")
    p.form__field.modal__field
      input.form__input(type="email", placeholder="e-mail")
    p.form__field.modal__field
      input.form__input(type="password", placeholder="пароль")
    p.form__field.modal__field
      input.form__input(type="password", placeholder="повторите пароль")
    .form__field.form__field--double.modal__field
      .form__column
        input(type="checkbox", id="agree")
        label(for="agree") Я согласен предоставлять свои данные для обработки
      .form__column
        button.form__submit.modal__submit.modal__submit--login(type="submit", aria-label="Войти")
          i.far.fa-sign-in-alt
