.modal.modal--search
  button.modal__close(type="button", aria-label="Закрыть окно")
    i.modal__icon.far.fa-times

  form.modal__form.form
    p.modal__field.form__field
      input.modal__input.form__input(type="search", placeholder="Искать...")
      i.modal__icon.form__icon.far.fa-search
