.address__list {
  @include list-reset;

  @media (min-width: $width-tablet-m) {
    display: flex;
    flex-wrap: wrap;
  }
}

.address__item {
  @media (min-width: $width-tablet-m) {
    width: 50%;
  }

  @media (min-width: $width-desktop-m) {
    width: 100%;
  }

  @media (min-width: $width-desktop-l) {
    width: 50%;
  }
}

.address__map {
  height: 225px;
}

.address__link {
  @include link-reset;

  display: block;
  padding: 30px 15px;
  cursor: pointer;

  transition:
    color 0.2s,
    background-color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: #000000;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

input[type="radio"] + .address__link {
  &::before {
    content: none;
  }
}

.address__location,
.address__phone {
  display: block;
  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.025em;
  text-transform: none;
}

.address__location {
  font-weight: 700;
}
