.banner {
  max-width: 810px;
  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  text-transform: uppercase;
}

.banner__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  color: $color-prime;
  letter-spacing: 0.025em;

  @media (min-width: $width-laptop) {
    font-size: 67px;
    line-height: 1;
    letter-spacing: 0.025em;
  }
}

.banner__text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.025em;
  color: #ffffff;

  text-shadow: 0 0 73px rgba(0,0,0,0.91);

  @media (min-width: $width-laptop) {
    font-size: 33px;
    line-height: 42px;
    letter-spacing: 0.025em;
  }
}
