.breadcrumbs__list {
  @include list-reset;

  @media (min-width: $width-tablet-m) {
    display: flex;
    align-items: baseline;
  }
}

.breadcrumbs__item {
  margin-bottom: 15px;
  margin-right: 5px;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1;
  color: #ffffff;

  @media (min-width: $width-tablet-m) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;

    &::after {
      content: none;
    }
  }

  &::after {
    content: "<";
    padding-left: 5px;
    vertical-align: middle;
  }

  &--active {
    font-family: "Proxima Nova Cn", "Arial", sans-serif;
    font-size: 33px;
    line-height: 1;
    text-transform: uppercase;
  }
}

.breadcrumbs__link {
  @include link-reset;

  transition: 0.2s;

  &[href]:hover,
  &[href]:focus,
  &[href]:active {
    color: $color-prime;
    outline: none;
  }

  &[href]:active {
    opacity: 0.7;
  }
}
