.callback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 30px;
  min-height: 220px;

  @media (min-width: $width-tablet-s) {
    min-height: 250px;
  }

  @media (min-width: $width-tablet-m) {
    margin: 0 auto;
    max-width: 480px;
  }
}

.callback__title {
  margin: 0;
  margin-bottom: 10px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: $color-prime;
  text-transform: uppercase;
}

.callback__input {
  @include input-reset;

  padding: 10px 0;
  border-bottom: 1px solid #000000;

  &::placeholder {
    font-family: "Proxima Nova", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    letter-spacing: 0.025em;
  }
}

.callback__field {
  position: relative;

  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 20px;
  }

  &:first-child {
    @media (min-width: $width-tablet-s) {
      padding-right: 80px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--double {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.callback__label {
  display: block;
  width: 60%;

  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.callback__submit {
  @include btn;

  width: 50px;
  height: 50px;

  border: 1px solid #000000;
  border-radius: 50%;

  transition:
    background-color 0.4s,
    color 0.4s,
    border-color 0.4s;

  @media (min-width: $width-tablet-s) {
    position: absolute;
    top: -70px;
    right: 0;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    background-color: $color-prime;
    border-color: $color-prime;
    color: #ffffff;
  }

  &:active {
    opacity: 0.7;
  }
}
