.cart__wrapper {
  @include container-narrow;

  @media (min-width: $width-laptop) {
    margin-bottom: 80px;
    padding-right: 50px;
  }
}

.cart__table {
  border-spacing: 0;
}

.cart__row {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    box-sizing: border-box;
    width: 100vw;
    border-bottom: 1px dotted #ddd5cf;

    @media (min-width: $width-laptop) {
      left: calc((100vw - 100% + 50px) / (-2));
    }
  }
}

.cart__cell {
  box-sizing: border-box;
  padding: 25px 5px;
  min-height: 70px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.025em;
  text-align: center;
  vertical-align: middle;

  border-bottom: 1px dotted transparent;

  @media (min-width: $width-tablet-s) {
    padding: 35px 15px;
  }

  @media (min-width: $width-tablet-m) {
    padding: 25px;
  }

  @media (min-width: $width-desktop-m) {
    font-size: 24px;
    color: #6d6d6f;
  }

  &--head {
    font-size: 14px;
    color: #6d6d6f;
    letter-spacing: 0.025em;
    text-transform: uppercase;

    @media (min-width: $width-tablet-s) {
      font-size: 16px;
    }

    @media (min-width: $width-tablet-m) {
      font-size: 24px;
    }

    @media (min-width: $width-laptop) {
      font-size: 18px;
    }
  }

  &--bulk {
    display: none;

    @media (min-width: $width-desktop-m) {
      display: table-cell;
    }
  }

  &:first-child {
    width: 34%;

    @media (min-width: $width-tablet-s) {
      width: 31%;
    }

    @media (min-width: $width-desktop-l) {
      width: 25%;
    }
  }

  &:last-child {
    width: 22%;

    @media (min-width: $width-tablet-m) {
      width: 25%;
    }

    @media (min-width: $width-laptop) {
      width: 20%;
    }
  }
}

.cart__desc {
  display: block;
  font-size: 11px;
  letter-spacing: 0.025em;
  text-transform: lowercase;

  @media (min-width: $width-tablet-s) {
    font-size: 12px;
  }

  @media (min-width: $width-laptop) {
    font-size: 14px;
  }
}

.cart__head {
  display: block;
}

.cart__delete {
  @include link-reset;

  text-decoration: underline;
  text-transform: uppercase;

  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    text-decoration: none;
    outline: none;
  }

  &:active {
    opacity: 0;
  }
}

.cart__product {
  @include link-reset;

  margin: 0;

  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;

  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  @media (min-width: $width-tablet-m) {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
  }

  @media (min-width: $width-desktop-m) {
    font-size: 24px;
    line-height: 1;
    color: #000000;
  }
}

.cart__image {
  display: none;

  @media (min-width: $width-tablet-m) {
    display: block;
    margin: 0;
    margin-right: 30px;
  }

  @media (min-width: $width-desktop-m) {
    flex-shrink: 0;
    width: 50px;
  }
}

.cart__price {
  margin: 0;

  &--retail {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.025em;

    @media (min-width: $width-tablet-s) {
      font-size: 24px;
    }
  }

  &--retail svg {
    font-size: 14px;

    @media (min-width: $width-tablet-s) {
      font-size: 20px;
    }
  }

  &--bulk svg {
    font-size: 20px;
  }

  &--total {
    display: block;
    margin-top: 5px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.025em;

    @media (min-width: $width-tablet-m) {
      font-size: 24px;
    }

    @media (min-width: $width-desktop-m) {
      display: inline;
    }
  }

  &--total svg {
    font-size: 14px;

    @media (min-width: $width-tablet-m) {
      font-size: 20px;
    }
  }
}

.cart__quantity {
  margin: 0;
}

.cart--modal {
  .cart__total {
    flex-wrap: nowrap;
  }

  .cart__info {
    flex-grow: 1;
    align-items: center;
    padding: 10px;
    width: 68%;

    @media (min-width: $width-tablet-s) {
      padding: 15px;
    }

    @media (min-width: $width-tablet-s) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .cart__btn {
    flex-grow: 0;
    padding: 10px;
    line-height: 18px;

    @media (min-width: $width-tablet-s) {
      flex-grow: 1;
      padding: 15px;
      min-width: 165px;

      font-size: 13px;
      line-height: 22px;
      vertical-align: middle;
    }

    @media (min-width: $width-tablet-s) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .cart__price {
    margin-top: 0;

    @media (min-width: $width-tablet-s) {
      font-size: 18px;
      line-height: 1;
    }

    svg {
      @media (min-width: $width-tablet-s) {
        font-size: 16px;
        line-height: 1;
      }
    }
  }

  .cart__text {
    font-size: 12px;
    white-space: nowrap;

    @media (min-width: $width-tablet-s) {
      font-size: 18px;
      line-height: 1;
    }
  }

  .cart__cell {
    @media (min-width: $width-tablet-s) {
      padding: 15px;
    }

    @media (min-width: $width-tablet-m) {
      padding: 20px;
    }

    &:first-child {
      width: 40%;
    }

    &--head {
      color: #000000;

      @media (min-width: $width-tablet-m) {
        font-size: 14px;
        line-height: 1;
      }
    }
  }

  .cart__image {
    @media (min-width: $width-tablet-s) {
      flex-shrink: 0;
      display: block;
      margin-right: 15px;
      width: 30px;
    }
  }

  .cart__product {
    display: flex;
    align-items: center;

    @media (min-width: $width-tablet-m) {
      font-size: 12px;
      line-height: 1;
    }
  }

  .cart__quantity {
    button {
      width: 20px;
    }

    input {
      width: 30px;
    }
  }

  .cart__row {
    &::after {
      left: 0;
      width: 100%;
    }
  }
}

