.catalog-item {
  font-family: "Proxima Nova", "Arial", sans-serif;
  color: #696969;
}

.catalog-item__wrapper {
  @include container-narrow;

  @media (min-width: $width-tablet-m) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog-item__meta {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-desktop-m) {
    flex-direction: row;
    margin-bottom: 60px;
  }
}

.catalog-item__status {
  order: 1;
  padding: 25px;

  @media (min-width: $width-tablet-s) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $width-tablet-m) {
    display: block;
  }

  @media (min-width: $width-desktop-m) {
    order: 0;
    padding: 15px;
  }

  @media (min-width: $width-desktop-l) {
    box-sizing: border-box;
    width: 180px;
  }
}

.catalog-item__avail {
  position: relative;

  display: block;
  margin-bottom: 20px;
  padding-left: 25px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.025em;

  text-transform: uppercase;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 0;
  }

  @media (min-width: $width-tablet-m) {
    margin-bottom: 20px;
  }

  @media (min-width: $width-desktop-m) {
    margin-bottom: 15px;
  }

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    width: 15px;
    height: 15px;

    border-radius: 50%;
    transform: translateY(-50%);
  }

  &--in-stock {
    color: $color-success;

    &::before {
      background-color: $color-success;
    }
  }

  &--stock-out {
    color: $color-attention;

    &::before {
      background-color: $color-attention;
    }
  }
}

.catalog-item__text {
  margin: 0;

  font-size: 11px;

  @media (min-width: $width-desktop-s) {
    font-size: 13px;
  }
}

.catalog-item__desc {
  order: 0;
  padding: 25px;
  padding-top: 0;
  padding-bottom: 30px;

  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #000000;

  @media (min-width: $width-desktop-m) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.catalog-item__toggler {
  overflow: hidden;
  margin-bottom: 10px;
}

.catalog-item__desc p {
  margin: 0;
  margin-bottom: 10px;
}

.catalog-item__expand {
  @include link-reset;

  padding: 0 15px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: underline;

  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    outline: none;
    text-decoration: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.catalog-item__price {
  @media (min-width: $width-desktop-m) {
    font-size: 36px;
  }
}

.catalog-item__common {
  @media (min-width: $width-tablet-m) {
    width: 40%;
  }

  @media (min-width: $width-laptop) {
    width: 50%;
  }

  @media (min-width: $width-desktop-m) {
    width: calc(50% - 30px);
  }
}

.catalog-item__tech {
  position: relative;

  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;

  @media (min-width: $width-laptop) {
    padding-bottom: 30px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100vw;
    height: 0;

    border-top: 1px dotted #ddd5cf;

    @media (min-width: $width-laptop) {
      left: -100px;
    }

    @media (min-width: $width-desktop-s) {
      left: calc((100vw - 100%) / (-2));
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}
