.catalog__wrapper {
  @include container-narrow;
}

.catalog__content {
  margin-bottom: 50px;
}

.catalog__list {
  @include list-reset;

  @media (min-width: $width-laptop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  @media (min-width: $width-laptop) {
    box-sizing: border-box;
    padding-right: 20px;
    width: 50%;
  }

  &:nth-child(2n+1) {
    @media (min-width: $width-laptop) {
      justify-content: flex-end;
      border-right: 1px dotted #ddd5cf;
    }
  }
}

.catalog__pagination {
  margin-bottom: 50px;
}
