.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 320px;

  color: #ffffff;

  background-color: #383d0d;
  background-image: url("../img/bg-company.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $width-tablet-s) {
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    min-height: 440px;
  }

  @media (min-width: $width-desktop-s) {
    align-items: flex-start;
    padding-top: 150px;
    width: 41%;
    background-image: none;
  }
}

.company__title {
  margin: 0;
  margin-bottom: 20px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 0;
    max-width: 250px;
  }

  @media (min-width: $width-tablet-m) {
    margin-right: 90px;
    margin-left: auto;
  }
}

.company__link {
  @include link-reset;

  position: relative;

  display: block;
  width: 70px;
  height: 70px;

  background-color: #ddd6d0;
  border: 5px solid #ffffff;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 10px;
    height: 10px;

    border: 2px solid #ffffff;
    border-left: none;
    border-bottom: none;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  @media (min-width: $width-tablet-m) {
    margin-right: auto;
  }
}
