.contacts {
  font-family: "Proxima Nova", "Arial", sans-serif;
  color: #ffffff;
}

.contacts__call {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.025em;

  @media (min-width: $width-laptop) {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.025em;
  }
}

.contacts__location {
  margin: 0;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-s) {
    line-height: 24px;
  }

  @media (min-width: $width-laptop) {
    font-size: 13px;
    letter-spacing: 0.025em;
  }
}

.contacts__phone {
  @include link-reset;

  margin-right: 10px;
  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &--phone {
    font-weight: 600;
  }
}

.contacts__callback {
  @include link-reset;

  font-size: 11px;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.025em;

  transition: color 0.2s;

  @media (min-width: $width-laptop) {
    font-size: 13px;
    letter-spacing: 0.025em;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    text-decoration: none;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.contacts__link {
  @include link-reset;
  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &--phone {
    font-weight: 600;
  }
}

.contacts__text {
  margin: 0;

  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-s) {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.025em;
  }

  @media (min-width: $width-desktop-m) {
    line-height: 36px;
  }
}

.contacts__column {
  margin-bottom: 10px;

  @media (min-width: $width-tablet-s) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $width-laptop) {
    margin-bottom: 0;
  }

  &--location {
    @media (min-width: $width-tablet-s) {
      order: 0;
      margin-right: auto;
      width: 65%;
    }

    @media (min-width: $width-tablet-m) {
      margin-right: 0;
      width: auto;
    }

    @media (min-width: $width-laptop) {
      margin-bottom: 15px;
    }

    @media (min-width: $width-desktop-m) {
      margin-bottom: 0;
    }
  }

  &--online {
    @media (min-width: $width-tablet-s) {
      order: 2;
    }

    @media (min-width: $width-tablet-m) {
      order: 1;
    }
  }

  &--phone {
    @media (min-width: $width-tablet-s) {
      order: 1;
    }

    @media (min-width: $width-tablet-m) {
      order: 2;
    }
  }
}
