.contact-us {
  @media (min-width: $width-laptop) {
    display: flex;
  }
}

.contact-us__callback {
  @media (min-width: $width-laptop) {
    width: 50%;
  }

  @media (min-width: $width-desktop-l) {
    align-items: stretch;
    margin-left: 100px;
  }
}

.contact-us__location {
  @media (min-width: $width-laptop) {
    width: 50%;
  }

  @media (min-width: $width-desktop-l) {
    justify-content: flex-end;
    padding-right: 140px;
  }
}
