.contact {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.contact__wrapper {
  @include container-narrow;

  display: flex;
  flex-grow: 1;
  width: 100%;

  @media (max-width: $width-laptop - 1) {
    padding: 0 30px;
  }

  @media (max-width: $width-tablet-m) {
    flex-direction: column;
  }

  @media (max-width: $width-tablet-s) {
    padding: 0 25px;
  }
}

.contact__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 95px;
  width: 50%;

  @media (max-width: $width-tablet-m) {
    order: 1;
    width: auto;
  }
}

.contact__map {
  position: relative;
  width: 50%;

  @media (max-width: $width-tablet-m) {
    order: 0;
    width: auto;
    height: 300px;
  }

  @media (max-width: $width-tablet-s) {
    height: 200px;
  }
}

.contact__container {
  position: absolute;
  top: 0;
  right: calc((100vw / -2) + 100%);
  bottom: 0;
  left: 0;
  background-color: lightgoldenrodyellow;

  @media (max-width: $width-tablet-m) {
    left: -100vw;
    right: -100vw;
  }
}

.contact__list {
  @include list-reset;
}

.contact__link {
  @include link-reset;

  position: relative;
  display: block;
  padding: 30px;
  padding-left: 0;

  @media (max-width: $width-tablet-m) {
    padding: 30px 0;
  }

  @media (max-width: $width-tablet-s) {
    padding: 20px 0;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: #ddd6d0;
    outline: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100vw;
    z-index: -1;
    background-color: inherit;

    @media (max-width: $width-tablet-m) {
      right: -100vw;
    }
  }
}

.contact__address {
  margin: 0;
  margin-bottom: 5px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.025em;
  color: #000000;

  @media (max-width: $width-tablet-s) {
    font-size: 20px;
  }
}

.contact__phone {
  display: block;
  margin-bottom: 10px;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.025em;

  @media (max-width: $width-tablet-s) {
    margin-bottom: 5px;
    font-size: 16px;
  }
}

.contact__table {
  border-collapse: collapse;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: #000000;

  @media (max-width: $width-tablet-s) {
    font-size: 12px;
  }
}

.contact__cell {
  padding: 10px;
  vertical-align: top;

  @media (max-width: $width-tablet-s) {
    padding: 5px;
  }

  span {
    display: block;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.contact__form {
  max-width: 370px;
}

.contact__title {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 35px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  cursor: pointer;

  transition: color 0.2s;

  &:hover {
    color: $color-prime;
  }
}

.contact__input,
.contact__message {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: lowercase;
  letter-spacing: 0.025em;
  color: inherit;

  &::placeholder {
    color: inherit;
  }
}

.contact__submit {
  @include btn;

  display: block;
  width: 50px;
  height: 50px;

  color: inherit;

  border: 1px solid currentColor;
  border-radius: 50%;

  transition:
    color 0.2s,
    background-color 0.2s,
    border-color 0.2s;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-prime;
    border-color: $color-prime;
    color: #ffffff;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.contact__field {
  &:last-child {
    margin-top: 50px;
  }
}

.contact__content {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  color: #ffffff;
  background-color: $color-marker;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100vw;
    z-index: -1;
    background-color: inherit;

    @media (max-width: $width-tablet-m) {
      right: -100vw;
    }
  }
}

.contact__hidden {
  display: none;
  padding-bottom: 20px;
}
