.copyright {
  margin: 0;

  font-weight: 400;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.025em;
}

.copyright__link {
  @include link-reset;

  text-transform: uppercase;
  text-decoration: underline;

  transition: color 0.4s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    text-decoration: none;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}
