.docs {
  padding: 30px;
}

.docs__list {
  @include list-reset;

  @media (min-width: $width-tablet-s) {
    display: flex;
    flex-wrap: wrap;
  }
}

.docs__item {
  margin-bottom: 20px;

  @media (min-width: $width-tablet-s) {
    margin-right: auto;
    width: 50%;
  }

  @media (min-width: $width-tablet-m) {
    margin-right: 0;
    width: calc(100% / 3);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.docs__link {
  @include link-reset;

  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: underline;

  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    text-decoration: none;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.docs__icon {
  font-size: 28px;

  @media (min-width: $width-desktop-m) {
    font-size: 40px;
  }
}
