.filter__num {
  font-size: 14px;
  line-height: 1;
}

.filter__group {
  @media (min-width: $width-tablet-s) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $width-tablet-m) {
    padding-left: 120px;
    padding-right: 120px;
  }

  @media (min-width: $width-laptop) {
    padding-left: 50px;
    padding-right: 50px;
  }

  &:nth-child(2) .accordeon .filter__dropdown {
    display: block;
  }

  &--price {
    max-width: 200px;
  }
}

.filter__toggle {
  @include toggle;

  margin-bottom: 0;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $width-laptop) {
    border-bottom: none;
    cursor: text;
  }

  svg {
    @media (min-width: $width-laptop) {
      display: none;
    }
  }
}

.filter__dropdown {
  margin-top: 25px;
  background-color: transparent;

  @media (min-width: $width-laptop) {
    display: block;
    margin-top: 30px;
  }
}

.filter__capture {
  font-size: 18px;
  line-height: 1;
}

.filter__form {
  @media (min-width: $width-laptop) {
    column-count: 2;
  }
}
