.form__field {
  position: relative;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $width-laptop) {
    margin-bottom: 25px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--double {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__input,
.form__message {
  @include input-reset;

  display: block;
  padding: 5px;
  border-bottom: 1px solid currentColor;

  &:focus {
    color: $color-prime;
    border-color: currentColor;
    outline: none;
  }

  &:disabled {
    border-color: transparent;
  }

  &[type="number"] {
    appearance: textfield;
  }

  &[type="number"]:focus + span {
    color: $color-prime;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &--num {
    padding-left: 25px;
    width: 80px;
    border-color: rgba(255, 255, 255, 0.2);
  }
}

.form__input:focus + svg {
  color: $color-prime;
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 14px;

  transform: translateY(-50%);
}

.form__group {
  @include fieldset-reset;
  padding: 30px;
}

.form__capture {
  margin-bottom: 25px;
  width: 100%;
}

.form__label {
  display: flex;
  align-items: center;

  &--num {
    position: relative;

    span {
      position: absolute;
    }
  }

  &--col {
    display: block;

    span {
      display: block;
      margin-bottom: 5px;
      font-size: 12px;
      line-height: 1;
    }
  }
}

.form__submit {
  @include btn;

  &--red {
    margin-top: 10px;
    padding: 10px 20px;

    font-family: "Proxima Nova", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: $color-prime;
    border: 1px solid $color-prime;
    border-radius: 20px;

    transition:
      color 0.2s,
      background-color 0.2s;

    &:hover,
    &:focus,
    &:active {
      color: $color-prime;
      background-color: #ffffff;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.form__select {
  position: relative;

  @media (min-width: $width-laptop) {
    margin-left: auto;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;

    width: 8px;
    height: 8px;

    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(-45deg) translateY(-50%);
    transform-origin: left center;
  }
}

.form__select-src {
  @include input-reset;

  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 5px;

  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;

  &:focus {
    color: $color-prime;
    outline: none;
    border-color: $color-prime;
  }
}

.form__message {
  resize: none;
}
