.gallery {
  margin-bottom: 30px;

  @media (min-width: $width-tablet-m) {
    width: 60%;
  }

  @media (min-width: $width-laptop) {
    display: flex;
    margin-bottom: 0;
    margin-right: 20px;
    width: calc(50% - 30px);
    height: 420px;
  }

  @media (min-width: $width-desktop-s) {
    margin-right: 30px;
  }

  @media (min-width: $width-desktop-m) {
    margin-right: 60px;
  }
}
