.geo {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.geo__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 300;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.025em;

  @media (min-width: $width-laptop) {
    font-size: 13px;
    letter-spacing: 0.025em;
  }
}

.geo__location {
  position: relative;
  width: 125px;

  @media (min-width: $width-laptop) {
    margin-left: auto;
    width: 140px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;

    width: 8px;
    height: 8px;

    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(-45deg) translateY(-50%);
    transform-origin: left center;
  }
}

.geo__select {
  @include input-reset;

  padding-right: 20px;

  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.025em;

  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;

  @media (min-width: $width-tablet-s) {
    line-height: 22px;
  }

  @media (min-width: $width-laptop) {
    font-size: 20px;
    line-height: 30px;
  }

  &:focus {
    outline: none;
    border-color: $color-prime;
  }
}

.geo__select option {
  padding: 0 5px;
  color: #000000;
}
