.goods__list {
  @include list-reset;

  @media (min-width: $width-laptop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.goods__item {
  @media (min-width: $width-laptop) {
    width: 50%;
  }
}

.goods__link {
  @include link-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  min-height: 200px;
  height: 100%;

  transition: box-shadow 0.2s;

  &:hover,
  &:focus,
  &:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 59px rgba(0, 0, 0, 0.69);
  }

  @media (min-width: $width-tablet-s) {
    flex-wrap: nowrap;
    min-height: 240px;
  }

  @media (min-width: $width-tablet-m) {
    padding: 30px;
  }

  @media (min-width: $width-desktop-s) {
    padding: 50px;
  }
}

.goods__item:nth-child(2n) .goods__link {
  @media (min-width: $width-desktop-l) {
    justify-content: flex-start;
    padding-left: 120px;
  }
}

.goods__item:nth-child(2n+1) .goods__link {
  @media (min-width: $width-desktop-l) {
    justify-content: flex-end;
    padding-right: 120px;
  }
}

.goods__image {
  margin-top: auto;
  margin-bottom: 15px;

  @media (min-width: $width-tablet-s) {
    flex-shrink: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 50px;
  }

  @media (min-width: $width-tablet-m) {
    margin-right: 30px;
  }
}

.goods__desc {
  margin-bottom: auto;
  width: 100%;

  @media (min-width: $width-tablet-s) {
    width: auto;
    margin-bottom: 0;
  }
}

.goods__title {
  margin: 0;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 10px;
    text-align: left;
  }
}

.goods__text {
  display: none;

  @media (min-width: $width-tablet-s) {
    display: block;
    margin: 0;
    max-width: 270px;

    font-family: "Proxima Nova", "Arial", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #ffffff;
    letter-spacing: 0.025em;
  }

  @media (min-width: $width-tablet-m) {
    max-width: 355px;
    font-size: 13px;
  }
}
