.location {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  min-height: 200px;
  color: #ffffff;
  background-color: #82a4cc;

  @media (min-width: $width-tablet-s) {
    min-height: 240px;
  }

  @media (min-width: $width-tablet-m) {
    justify-content: center;
  }
}

.location__image {
  margin-right: 15px;

  @media (min-width: $width-tablet-s) {
    margin-right: 20px;
  }
}

.location__phone {
  @include link-reset;

  margin-bottom: 5px;
  display: block;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.025em;

  transition: color 0.4s;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 10px;
    font-size: 30px;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: $color-prime;
  }

  &:active {
    opacity: 0.7;
  }
}

.location__address {
  margin: 0;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  @media (min-width: $width-tablet-s) {
    font-size: 24px;
  }
}

.location__address br {
  @media (min-width: $width-desktop-l) {
    display: none;
  }
}
