.main-nav__list {
  @include list-reset;
}

.main-nav__item {
  margin-bottom: 30px;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 40px;
  }

  @media (min-width: $width-tablet-m) {
    margin-bottom: 30px;
  }

  @media (min-width: $width-laptop) {
    margin-bottom: 40px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--login {
    @media (min-width: $width-tablet-m) {
      display: none;
    }
  }
}

.main-nav__link {
  @include link-reset;

  font-size: 30px;
  line-height: 30px;

  transition: color 0.2s;

  @media (min-width: $width-tablet-m) {
    font-size: 18px;
    line-height: 1;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}
