.menu {
  display: flex;
  align-items: center;

  &--mobile {
    @media (min-width: $width-tablet-s) {
      width: 100%;
    }

    @media (min-width: $width-laptop) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $width-laptop) {
      display: block;
      width: 45px;
    }
  }
}

.menu__logo {
  margin-right: auto;
  width: 190px;

  @media (min-width: $width-tablet-s) {
    width: 210px;
  }
}

.menu__list {
  @include list-reset;
}

.menu__item {
  @include link-reset;

  flex-shrink: 0;
  width: 45px;
  height: 45px;

  text-align: center;
  line-height: 45px;
}

.menu--mobile .menu__item {
  box-sizing: border-box;
  margin-right: auto;

  border: 1px solid #ffffff;
  border-radius: 50%;
}

.menu--mobile > *:last-child {
  margin-right: 0;
}

.menu--desktop .menu__item {
  margin-bottom: 40px;
}

.menu--desktop .menu__item:last-child {
  margin-bottom: 0;
}

.menu__link {
  @include link-reset;

  display: block;

  border: 1px solid #ffffff;
  border-radius: 50%;

  transition:
    color 0.2s,
    background-color 0.2s,
    border-color 0.2s;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-prime;
    border-color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.menu__icon {
  font-size: 16px;
  vertical-align: middle;
}

