.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;

  display: none;

  &--menu,
  &--search {
    padding: 20px 30px;
    padding-top: 70px;
    height: 100%;

    font-family: "Proxima Nova", "Arial", sans-serif;
    font-weight: 300;
    color: #ffffff;

    background-color: #000000;

    @media (min-width: $width-tablet-s) {
      padding-top: 90px;
    }

    @media (min-width: $width-tablet-m) {
      right: auto;
      left: -100%;

      display: block;
      box-sizing: border-box;
      padding: 150px 50px;
      width: 300px;
    }

    @media (min-width: $width-laptop) {
      display: flex;
      align-items: center;
    }
  }

  &--search {
    display: none;

    @media (min-width: $width-laptop) {
      display: flex;
    }
  }

  &--cart {
    bottom: auto;
    color: #000000;
    background-color: #ffffff;

    @media (min-width: $width-tablet-m) {
      left: auto;
      right: -100%;

      display: block;
      padding-top: 60px;
      width: 500px;
    }
  }

  &--filter {
    position: absolute;
    top: 0;
    bottom: auto;
    z-index: 10;
    padding-top: 30px;
    background-color: #000000;

    @media (min-width: $width-tablet-m) {
      right: -100%;
      left: auto;

      display: block;
      padding-bottom: 50px;
      width: 600px;
    }

    @media (min-width: $width-laptop) {
      padding-top: 60px;
      padding-bottom: 160px;
    }
  }

  &--login,
  &--reg,
  &--pass {
    bottom: auto;
    padding: 70px 25px;
    font-family: "Proxima Nova", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;

    @media (min-width: $width-tablet-s) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (min-width: $width-tablet-m) {
      top: -100%;
      display: block;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 90px 150px;
      padding-top: 140px;
      max-width: 670px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      z-index: -1;

      border: 1px dotted #ffffff;
    }
  }

  &--address {
    top: -100%;
    bottom: auto;

    display: block;
    margin: 0 auto;
    padding-top: 140px;
    max-width: 500px;

    background-color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      z-index: -1;

      border: 1px dotted #ffffff;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal__close {
  @include btn;

  position: absolute;
  top: 20px;
  right: 20px;

  font-size: 22px;
  line-height: 1;

  transition: color 0.2s;

  @media (min-width: $width-tablet-m) {
    top: 40px;
    right: 40px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.modal__form {
  &--save-address {
    padding-top: 40px;
  }
}

.modal__field {
  margin: 0;
  margin-bottom: 30px;

  &:last-child {
    margin-top: 45px;
  }

  input[type="radio"] + label {
    font-size: 16px;
    line-height: 18px;
    text-transform: none;

    &::before {
      border: 1px solid #000000;
    }
  }

  &--address {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;

    font-family: "Proxima Nova", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.025em;
  }

  &--double input {
    max-width: 110px;
  }
}

.modal__input {
  color: #ffffff;
  text-transform: uppercase;

  &::placeholder {
    opacity: 1;
  }
}

.modal--menu .modal__input,
.modal--search .modal__input {
  font-size: 12px;
  line-height: 1;
}

.modal--menu .modal__form,
.modal--search .modal__form {
  margin-bottom: 30px;
  width: 100%;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 40px;
  }
}

.modal--menu .modal__form {
  @media (min-width: $width-laptop) {
    display: none;
  }
}

.modal__header {
  margin: 0;
  padding: 10px;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $width-tablet-s) {
    padding: 15px;
    font-size: 13px;
  }

  @media (min-width: $width-tablet-m) {
    padding: 20px;
  }
}

.modal__text {
  display: block;
}

.modal__filter {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.modal__title {
  margin: 0;
  margin-bottom: 30px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 35px;
  }

  &--address {
    text-align: center;
  }
}

.modal__link {
  @include link-reset;

  display: block;
  margin-bottom: 5px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: underline;

  transition: color 0.2s;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 10px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    text-decoration: none;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.modal__submit {
  &--login {
    display: block;
    width: 45px;
    height: 45px;

    border: 1px solid #000000;
    border-radius: 50%;

    transition:
      color 0.2s,
      background-color 0.2s,
      border-color 0.2s;

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      background-color: $color-prime;
      border-color: $color-prime;
      outline: none;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &--choose {
    @include btn;

    padding: 20px;
    width: 100%;

    color: #ffffff;
    font-family: "Proxima Nova Cn", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background-color: $color-success;

    transition: background-color 0.2s;

    &:hover,
    &:focus,
    &:active {
      background-color: #000000;
      outline: none;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &--save {
    @include btn;

    margin-top: 15px;
    padding: 20px;
    width: 100%;

    color: #ffffff;
    font-family: "Proxima Nova Cn", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background-color: $color-marker;

    transition: background-color 0.2s;

    &:hover,
    &:focus,
    &:active {
      background-color: #000000;
      outline: none;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
