.nav {
  &--desktop {
    display: none;

    @media (min-width: $width-laptop) {
      display: block;
    }
  }

  &--mobile {
    @media (min-width: $width-laptop) {
      display: none;
    }
  }
}

.nav__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $width-tablet-s) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.nav__item {
  margin-bottom: 5px;
  width: 50%;

  @media (min-width: $width-tablet-s) {
    width: auto;
    text-align: center;
  }

  &:nth-child(even) {
    text-align: right;

    @media (min-width: $width-tablet-s) {
      text-align: center;
    }
  }

  &:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.nav__link {
  @include link-reset;

  font-weight: 700;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 11px;
  line-height: 36px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
  white-space: pre;

  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    text-decoration: none;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}
