.news {
  width: 100%;

  @media (min-width: $width-tablet-s) {
    display: flex;
    flex-wrap: wrap;
  }

  &--mobile {
    @media (min-width: $width-laptop) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $width-laptop) {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      //overflow-x: scroll;
      width: auto;
      height: 100%;
    }
  }
}

.news__row {
  flex-grow: 1;
  display: flex;
  height: 40%;

  article {
    flex-shrink: 0;
    width: 30vw;

    &:nth-child(4n-2) {
      flex-shrink: 0;
      width: 30vw;
    }
  }

  &--big {
    height: 60%;

    article {
      flex-shrink: 0;
      width: 45vw;

      &:nth-child(4n-2) {
        flex-shrink: 0;
        width: 45vw;
      }
    }
  }
}
