.not-found {
  font-family: "Proxima Nova Cn", "Arial", sans-serif;
}

.not-found__text {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 830px;
  padding: 0 15px;
  text-align: center;

  &--attention {
    font-size: 202px;
    line-height: 1;
    color: #ffffff;
    background-color: $color-attention;

    @media (min-width: $width-tablet-s) {
      font-size: 318px;
    }

    @media (min-width: $width-tablet-m) {
      font-size: 404px;
    }
  }

  &--success {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: $color-success;

    @media (min-width: $width-tablet-s) {
      padding-left: 100px;
      padding-right: 100px;
    }

    @media (min-width: $width-tablet-m) {
      padding-left: 240px;
      padding-right: 240px;
    }

    @media (min-width: $width-laptop) {
      padding-left: 270px;
      padding-right: 270px;
    }
  }

  &:last-child {
    margin-bottom: 115px;
  }
}

.not-found__link {
  @include link-reset;

  text-decoration: underline;
  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}
