.novelty {
  position: relative;
  overflow: hidden;
  height: 195px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $width-tablet-s) {
    width: 50%;
  }

  @media (min-width: $width-tablet-m) {
    width: 40%;
    height: 185px;
  }

  @media (min-width: $width-laptop) {
    width: auto;
    height: auto;
  }

  &:nth-child(2n) {
    height: 275px;

    @media (min-width: $width-tablet-s) {
      height: 195px;
    }

    @media (min-width: $width-tablet-m) {
      height: 185px;
    }

    @media (min-width: $width-laptop) {
      height: auto;
    }
  }

  &:nth-child(3n-1) {
    @media (min-width: $width-tablet-s) {
      width: 100%;
      height: 340px;
    }

    @media (min-width: $width-tablet-m) {
      width: 40%;
      height: 185px;
    }

    @media (min-width: $width-laptop) {
      width: auto;
      height: auto;
    }
  }

  &:nth-child(4n-2) {
    @media (min-width: $width-tablet-m) {
      width: 60%;
      height: 370px;
    }

    @media (min-width: $width-laptop) {
      width: auto;
      height: auto;
    }
  }
}

.novelty__link {
  @include link-reset;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.novelty__header {
  margin-top: auto;
  padding: 10px 25px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 700;
  text-align: right;
  color: #ffffff;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));

  @media (min-width: $width-laptop) {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(100%);
    transition: transform 0.4s;
  }
}

.novelty:hover .novelty__header {
  @media (min-width: $width-laptop) {
    transform: translateY(0);
  }
}

.novelty__title {
  margin: 0;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.novelty__date {
  display: block;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.025em;
}

.novelty__icon {
  position: absolute;
  top: 50%;
  left: 50%;

  color: darkgray;
  font-size: 60px;

  transform: translate(-50%, -50%);
  opacity: 0.7;

  transition: color 0.4s;

  @media (min-width: $width-tablet-s) {
    font-size: 80px;
  }
}

.novelty:hover .novelty__icon {
  color: red;
}

.novelty__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;

  background-color: #000000;
  opacity: 0.3;

  transition: opacity 0.7s;
}

.novelty:hover .novelty__overlay {
  opacity: 0;
  z-index: -1;
}
