.number {
  @media (min-width: $width-tablet-s) {
    font-size: 16px;
  }
}

.number__input {
  width: 25px;

  text-align: center;

  border: none;
  border-bottom: 1px solid #000000;
  appearance: textfield;

  &:focus {
    color: $color-prime;
    border-color: $color-prime;
    outline: none;
  }

  @media (min-width: $width-tablet-s) {
    width: 40px;
  }
}

.number__input::-webkit-outer-spin-button,
.number__input::-webkit-inner-spin-button {
  appearance: none;
}

.number__btn {
  @include btn;

  position: relative;
  width: 20px;
  transition: color 0.2s;

  @media (min-width: $width-tablet-m) {
    width: 40px;
  }

  &::before {
    display: none;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &--down {
    &::before {
      content: "\f104";
    }
  }

  &--up {
    &::before {
      content: "\f105";
    }
  }

  &.disabled {
    color: $color-disabled;
  }
}
