.orders__wrapper {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;

  @media (min-width: $width-tablet-s) {
    padding: 0 30px;
  }

  @media (min-width: $width-tablet-m) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $width-laptop) {
    @include container-narrow;
  }
}

.orders__header {
  padding: 25px 0;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  background-color: $color-marker;
}

.orders__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-m) {
    margin-bottom: 0;
    margin-right: 30px;
    font-size: 36px;
  }
}

.orders__form {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $width-tablet-m) {
    justify-content: space-between;
  }
}

.orders__check {
  margin: 0;
  width: 50%;

  @media (min-width: $width-tablet-s) {
    width: 25%;
  }

  @media (min-width: $width-tablet-m) {
    width: auto;
  }
}

.orders__check input + label {
  font-size: 12px;
  line-height: 30px;

  @media (min-width: $width-tablet-m) {
    font-size: 14px;
  }
}

.orders__table {
  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-m) {
    font-size: 18px;
  }
}

.orders__product {
  @include link-reset;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.025em;

  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  @media (min-width: $width-tablet-m) {
    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $width-desktop-s) {
    font-size: 24px;
    line-height: 1;
  }
}

.orders__quantity {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-m) {
    font-size: 16px;
    line-height: 18px;
  }
}

.orders__filter {
  max-width: 560px;

  @media (min-width: $width-tablet-m) {
    flex-grow: 1;
  }
}

.orders__row {
  @include link-reset;

  position: relative;
  z-index: 1;
  outline: none;

  &--sent {
    color: $color-marker;
  }

  &--filled {
    color: $color-success;
  }
}

