.order {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 400;
}

.order__wrapper {
  @include container-narrow;

  @media (min-width: $width-desktop-m) {
    padding-right: 50px;
  }
}

.order__group {
  box-sizing: border-box;
  padding: 0;

  @media (min-width: $width-desktop-m) {
    flex-grow: 1;
    width: calc(100% / 3);
    border-right: 1px dotted #ddd5cf;
  }

  &:last-child {
    border-right: none;
  }

  &:first-child {
    @media (min-width: $width-desktop-m) {
      max-width: 380px;
    }
  }

  &:nth-child(2n) {
    @media (min-width: $width-desktop-l) {
      min-width: 560px;
    }
  }
}

.order__quick-buy {
  @include btn;

  display: block;
  padding: 30px;

  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  text-decoration: underline;
  color: #ffffff;
  text-align: center;

  background-color: #575e8a;
  border: 1px dotted transparent;

  transition:
    color 0.2s,
    background-color 0.2s,
    border-color 0.2s;

  @media (min-width: $width-desktop-m) {
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
    line-height: 22px;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #575e8a;

    background-color: #ffffff;
    border-color: #575e8a;
    outline: none;

    &::before {
      opacity: 0;
    }
  }

  &::before {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: -1px;
    left: -100%;
    z-index: -1;

    background-color: #575e8a;

    transition: opacity 0.2s;

    @media (min-width: $width-desktop-m) {
      content: "";
    }
  }
}

.order__requisites {
  box-sizing: border-box;
  padding: 30px 15px;
  padding-right: 45px;

  @media (min-width: $width-tablet-s) {
    padding-right: 200px;
  }

  @media (min-width: $width-tablet-m) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: $width-desktop-m) {
    padding-right: 90px;
    padding-bottom: 80px;
  }
}

.order__title {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  width: 100%;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  &--pad {
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 35px 15px;
    padding-right: 45px;
    border-bottom: 1px dotted #ddd5cf;

    @media (min-width: $width-tablet-m) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @media (min-width: $width-desktop-l) {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}

.order__group:last-child .order__title--pad,
.order__group:last-child .order__item {
  @media (min-width: $width-desktop-m) {
    position: relative;
    border-color: transparent;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      right: -100%;
      border-bottom: 1px dotted #ddd5cf;
    }
  }
}

.order__group:last-child .order__item {
  @media (min-width: $width-desktop-m) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -100%;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-color: #ddd5cf;
    }

    &::after {
      border-color: #ffffff;
    }
  }
}

.order__list {
  @include list-reset;
}

.order__item {
  border-bottom: 1px dotted #ffffff;
  background-color: $color-disabled;

  input[type="radio"] + label {
    font-size: 14px;
    line-height: 18px;
  }
}

.order__toggle {
  padding: 35px 15px;

  @media (min-width: $width-tablet-m) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: $width-desktop-l) {
    padding-left: 80px;
    padding-right: 80px;
  }

  input[type="radio"] + label {
    @media (min-width: $width-tablet-s) {
      font-size: 18px;
      line-height: 1;
    }
  }

  input[type="radio"]:checked + label {
    &::after {
      left: 3px;
    }
  }
}

.order__text {
  margin: 0;
  margin-bottom: 15px;
  padding: 30px 15px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-m) {
    padding-left: 25px;
    padding-right: 25px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.order__field {
  @media (min-width: $width-tablet-m) {
    max-width: 260px;
  }

  &:nth-child(2n) {
    margin-right: 100px;

    @media (min-width: $width-desktop-m) {
      margin-right: 0;
    }
  }
}

.order__form {
  @media (min-width: $width-desktop-m) {
    display: flex;
  }
}
