.page-footer {
  color: #ffffff;
  background-color: #000000;
}

.page-footer__wrapper {
  @include container;

  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $width-tablet-s) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $width-tablet-m) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: $width-laptop) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: $width-laptop) {
    align-items: center;
  }
}

.page-footer__nav {
  margin-bottom: 15px;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 20px;
  }

  @media (min-width: $width-laptop) {
    margin-bottom: 0;
    width: 100%;
  }
}

.page-footer__contacts {
  margin-bottom: 15px;

  @media (min-width: $width-tablet-s) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $width-tablet-m) {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  @media (min-width: $width-laptop) {
    margin-bottom: 0;
    margin-right: 60px;
  }

  @media (min-width: $width-desktop-s) {
    max-width: 610px;
  }

  @media (min-width: $width-desktop-m) {
    max-width: none;
    width: 800px;
  }
}

.page-footer__social {
  margin-bottom: 15px;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 30px;
  }

  @media (min-width: $width-tablet-m) {
    margin-bottom: 0;
  }
}

.page-footer__block {
  @media (min-width: $width-tablet-m) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $width-laptop) {
    flex-wrap: wrap;
    max-width: 480px;
  }
}
