.page-header {
  position: relative;

  padding-bottom: 60px;
  padding-top: 10px;
  overflow: hidden;

  color: #ffffff;

  background-color: #000000;
  background-image: url("../img/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 200%;

  @media (min-width: $width-tablet-s) {
    padding-bottom: 80px;
  }

  @media (min-width: $width-tablet-m) {
    padding-bottom: 50px;
    background-size: 100%;
  }

  @media (min-width: $width-laptop) {
    padding-top: 15px;
    padding-bottom: 90px;
    background-image: url("../img/bg-header.png");
    background-size: cover;
  }

  &::before {
    @media (min-width: $width-laptop) {
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      margin: -1px;

      background-image: url("../img/bg-header-gradient.png");
      background-size: 100% 100%;
    }
  }

  &--inner {
    overflow: visible;
    padding-bottom: 30px;
    background-image: none;

    @media (max-width: $width-tablet-m) {
      padding-bottom: 45px;
    }

    &::before {
      content: none;
    }
  }

  &--glassy {
    @media (min-width: $width-laptop) {
      position: absolute;
      z-index: 2;
      width: 100vw;
      background-color: transparent;
    }
  }
}

.page-header__wrapper {
  @include container;

  flex-wrap: wrap;

  @media (min-width: $width-tablet-s) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $width-laptop) {
    position: relative;
    z-index: 2;
  }
}

.page-header--inner .page-header__wrapper {
  @media (min-width: $width-desktop-s) {
    @include container;
  }
}

.page-header__top {
  margin-bottom: 35px;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 70px;
  }

  @media (min-width: $width-tablet-m) {
    margin-bottom: 50px;
  }

  @media (min-width: $width-laptop) {
    margin-bottom: 80px;
  }
}

.page-header--inner .page-header__top {
  @media (min-width: $width-laptop) {
    margin-bottom: 30px;
  }
}

.page-header__top .page-header__wrapper,
.page-header--inner .page-header__wrapper {
  @media (min-width: $width-tablet-m) {
    padding: 0 30px;
  }

  @media (min-width: $width-laptop) {
    padding: 0 50px;
  }
}

.page-header__bottom .page-header__wrapper {
  @media (min-width: $width-laptop) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.page-header--inner .page-header__bottom .page-header__wrapper {
  @include container-narrow;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.page-header__menu {
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px);

  @media (min-width: $width-tablet-m) {
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  @media (min-width: $width-laptop) {
    margin-right: 50px;
    width: auto;
  }

  @media (min-width: $width-desktop-s) {
    margin-right: 90px;
  }
}

.page-header__bottom {
  position: relative;

  @media (min-width: $width-laptop) {
    position: static;
  }
}

.page-header__bottom .page-header__menu {
  @media (min-width: $width-laptop) {
    margin-bottom: 0;
  }
}

.page-header__contacts {
  order: 1;
  margin-bottom: 30px;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 0;
    text-align: right;
  }

  @media (min-width: $width-laptop) {
    margin-right: 0;
  }
}

.page-header__user-geo {
  @media (min-width: $width-tablet-s) {
    padding-right: 35px;
    border-right: 1px solid #ffffff;
  }

  @media (min-width: $width-tablet-m) {
    border-right: none;
  }

  @media (min-width: $width-laptop) {
    margin-left: 0;
    margin-right: 45px;
    border-right: 1px solid #ffffff;
  }
}

.page-header__logo {
  display: none;
  margin-right: auto;

  @media (min-width: $width-laptop) {
    display: block;
  }
}

.page-header__playback {
  display: none;

  @media (min-width: $width-laptop) {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;

    display: block;
    min-width: 100%;
    min-height: 100%;

    transform: translate(-50%, -50%);
  }
}

.page-header--inner .page-header__menu {
  @media (min-width: $width-laptop) {
    position: absolute;
    top: calc(100% + 50px);
    left: 50px;
    z-index: 10;
  }
}

.page-header--inner .page-header__menu a {
  @media (min-width: $width-laptop) {
    color: #000000;
    border-color: #000000;

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      background-color: $color-prime;
      border-color: $color-prime;
    }
  }
}

.page-header--glassy .page-header__menu a {
  @media (min-width: $width-laptop) {
    color: #ffffff;
    border-color: #ffffff;
  }
}

.page-header__toggler {
  @media (min-width: $width-laptop) {
    position: absolute;
    right: 45px;
    top: calc(100% + 50px);

    color: #000000;
    border-color: #000000;

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      background-color: $color-prime;
      border-color: $color-prime;
    }
  }
}
