.page-nav {
  border-bottom: 1px dotted #ddd5cf;
}

.page-nav__wrapper {
  @include container-narrow;

  @media (min-width: $width-laptop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
  }
}

.page-nav__list {
  @include list-reset;
}

.page-nav__item {
  width: auto;

  @media (min-width: $width-laptop) {
    flex-grow: 1;
    text-align: center;
  }
}

.page-nav__link {
  @include link-reset;

  display: block;
  padding: 30px 10px;

  color: #6d6d6f;
  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  transition:
    color 0.4s,
    background-color 0.4s;

  @media (min-width: $width-tablet-s) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: $width-tablet-s) {
    padding: 35px 20px;
  }

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: #6ca481;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.page-nav__item--active .page-nav__link {
  color: #ffffff;
  background-color: #6ca481;
}

.page-nav__item--active:first-child {
  position: relative;
  overflow: visible;

  &::before {
    @media (min-width: $width-laptop) {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      left: calc((100vw - 100%) / (-2));
      z-index: 1;
      background-color: #6ca481;
    }
  }
}

.page-nav__item--active:last-child {
  position: relative;
  overflow: visible;

  &::after {
    @media (min-width: $width-laptop) {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      right: -100vw;
      z-index: 1;
      background-color: #6ca481;
    }
  }
}
