.pagination {

}

.pagination__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $width-tablet-s) {
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $width-laptop) {
    @include container-narrow;
  }
}

.pagination__list {
  @include list-reset;

  display: flex;
}

.pagination__item {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.pagination__link {
  @include link-reset;

  display: block;
  box-sizing: border-box;
  width: 45px;
  height: 45px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.025em;

  border: 1px solid transparent;
  border-radius: 50%;

  transition:
    color 0.4s,
    border-color 0.4s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    border-color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &--prev,
  &--next {
    padding: 10px;
    width: auto;
    height: auto;

    line-height: 1;

    border: none;
  }

  &--hidden {
    display: none;
  }
}

.pagination__link svg {
  vertical-align: middle;
}

.pagination__item--active .pagination__link {
  border-color: #000000;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-prime;
  }
}
