.personal {
  padding: 35px 0;

  @media (min-width: $width-desktop-s) {
    padding-bottom: 50px;
  }
}

.personal__link {
  @include link-reset;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &--edit {
    margin-right: 30px;
  }
}

