.preview__list {
  @include list-reset;
}

.preview__item {
  @media (min-width: $width-laptop) {
    display: flex;
    align-items: center;
  }
}

.preview__link {
  display: block;
}

.preview__image {
  margin: 0 auto;
}
