.price {
  display: block;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-size: 48px;
  line-height: 1;
  color: #575e8a;
  white-space: nowrap;
}

.price__icon {
  font-size: 28px;
}
