.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 50px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;

  border-bottom: 1px dotted #ddd5cf;

  transition: box-shadow 0.4s;

  @media (min-width: $width-laptop) {
    padding-bottom: 60px;
  }

  @media (min-width: $width-desktop-m) {
    padding-bottom: 85px;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.29);
    cursor: pointer;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.product__image {
  margin: 0;
  width: 140px;

  @media (min-width: $width-tablet-s) {
    width: 220px;
  }
}

.product__image img {
  margin: 0 auto;
}

.product__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-s) {
    font-size: 18px;
    letter-spacing: 0.025em;
  }

  @media (min-width: $width-desktop-s) {
    font-size: 24px;
    letter-spacing: 0.025em;
  }
}

.product__title a {
  @include link-reset;

  transition: color 0.4s;

  &:hover,
  &:focus,
  &:active {
    color: #575e8a;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.product__content {
  width: 180px;

  @media (min-width: $width-tablet-s) {
    flex-grow: 1;
  }

  @media (min-width: $width-laptop) {
    position: relative;
    max-width: 440px;
  }
}

.product__price {
  display: block;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.025em;
  color: #575e8a;
}

.product__price svg {
  font-size: 28px;
}

.product__desc {
  display: none;

  @media (min-width: $width-tablet-s) {
    display: block;
    margin: 0;
    max-width: 335px;

    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.025em;
  }

  @media (min-width: $width-desktop-s) {
    font-size: 13px;
    letter-spacing: 0.025em;
  }
}

.product__controls {
  margin: 0;
  margin-top: 20px;
  width: 100%;

  &--desktop {
    display: none;

    @media (min-width: $width-tablet-s) {
      display: flex;
      justify-content: flex-end;
      width: auto;
    }

    @media (min-width: $width-laptop) {
      position: absolute;
      bottom: -60px;

      margin-top: 25px;
      width: 100%;

      opacity: 0;

      transition: opacity 0.4s;
    }

    @media (min-width: $width-desktop-m) {
      bottom: -85px;
    }
  }

  &--mobile {
    @media (min-width: $width-tablet-s) {
      display: none;
    }
  }
}

.product:hover .product__controls--desktop,
.product:focus .product__controls--desktop {
  opacity: 1;
}

.product__to-cart,
.product__quick-buy {
  @include btn;

  padding: 15px;
  width: 50%;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  text-decoration: underline;

  transition: background-color 0.4s;

  @media (min-width: $width-tablet-s) {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
  }

  @media (min-width: $width-tablet-m) {
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
  }

  @media (min-width: $width-laptop) {
    flex-grow: 1;
  }

  @media (min-width: $width-desktop-m) {
    padding: 20px;
    font-size: 18px;
    letter-spacing: 0.025em;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background-color: #000000;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.product__to-cart {
  color: #ffffff;
  background-color: #6ca481;
}

.product__quick-buy {
  color: #ffffff;
  background-color: $color-attention;
}
