.purchase {
  display: flex;
  flex-grow: 1;
  margin: 0;
}

.purchase__btn {
  @include btn;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 30px 10px;

  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;

  transition: background-color 0.2s;

  @media (min-width: $width-desktop-l) {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.025em;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background-color: #000000;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &--to-cart {
    background-color: $color-success;
  }

  &--quick-buy {
    background-color: $color-attention;
  }
}
