.relative {
  &--desktop {
    display: none;

    @media (min-width: $width-tablet-s) {
      display: block;
    }
  }

  &--mobile {
    @media (min-width: $width-tablet-s) {
      display: none;
    }
  }
}

.relative .tabs__toggle {
  color: #6d6d6f;
  font-weight: 400;

  &--active,
  &:hover,
  &:focus,
  &:active {
    color: #000000;
    background-color: #ddd6d0;
  }
}

.relative__list {
  @include list-reset;
}

.relative__item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;

  border-right: 1px dotted #ddd5cf;

  @media (min-width: $width-laptop) {
    padding: 30px;
  }

  @media (min-width: $width-desktop-l) {
    padding: 50px;
  }
}

.relative__link {
  @include link-reset;

  transition: color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: #575e8a;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &--to-cart {
    font-family: "Proxima Nova", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.025em;
    text-decoration: underline;
    text-transform: uppercase;

    @media (min-width: $width-laptop) {
      font-size: 13px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.relative__title {
  margin: 0;
  margin-bottom: 10px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.025em;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $width-laptop) {
    font-size: 18px;
  }

  @media (min-width: $width-desktop-l) {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.relative__price {
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.025em;

  @media (min-width: $width-laptop) {
    margin-bottom: 10px;
    font-size: 18px;
  }

  @media (min-width: $width-desktop-l) {
    margin-bottom: 30px;
    font-size: 24px;
  }

  svg {
    font-size: 12px;

    @media (min-width: $width-laptop) {
      font-size: 16px;
    }

    @media (min-width: $width-desktop-l) {
      font-size: 20px;
    }
  }
}

.relative__image {
  margin: 0;
  margin-right: 20px;

  @media (min-width: $width-laptop) {
    margin-right: 30px;
  }

  @media (min-width: $width-desktop-s) {
    width: 90px;
  }

  @media (min-width: $width-desktop-l) {
    flex-shrink: 0;
  }
}

.relative__text {
  margin: 25px 0;
  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #6d6d6f;
}

.relative__slider {
  border-top: 1px dotted #ddd5cf;
  border-bottom: 1px dotted #ddd5cf;

  @media (min-width: $width-laptop) {
    border-top: none;
    border-bottom: none;
  }
}

.relative__drag {
  height: 15px;
  background-color: #000000;
  cursor: pointer;
}
