.requisites {
  padding: 35px 0;

  @media (min-width: $width-tablet-s) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $width-desktop-s) {
    padding-bottom: 50px;
  }
}

.requisites__field {
  display: block;
  width: 100%;

  font-size: 13px;
  line-height: 1;

  @media (min-width: $width-tablet-s) {
    margin-bottom: 30px;
  }
}

.requisites__field label {
  font-size: 12px;
  line-height: 18px;
}

.requisites__edit,
.requisites__btn {
  @include btn;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;

  font-size: 22px;

  border: 1px solid #000000;
  border-radius: 50%;

  transition:
    color 0.2s,
    background-color 0.2s,
    border-color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: $color-prime;
    border-color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.requisites__btn {
  margin: 0;
}
