.reviews {
  padding: 25px;

  @media (min-width: $width-tablet-s) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $width-tablet-m) {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 540px;
  }

  @media (min-width: $width-desktop-s) {
    max-width: 680px;
    margin-left: 60px;
  }
}

.reviews__list {
  @include list-reset;

  margin-bottom: 40px;
}

.reviews__item {
  @media (min-width: $width-desktop-s) {
    display: flex;
    align-items: center;
  }
}

.reviews__image {
  position: absolute;
  margin: 0;
  width: 100px;

  @media (min-width: $width-tablet-s) {
    width: 135px;
  }

  @media (min-width: $width-desktop-s) {
    position: static;

    flex-shrink: 0;
    margin-right: 30px;
    width: 200px;
  }
}

.reviews__content {
  margin: 0;
}

.reviews__origin {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
  padding-left: 120px;
  min-height: 135px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  @media (min-width: $width-tablet-s) {
    padding-left: 150px;
  }

  @media (min-width: $width-desktop-s) {
    padding-left: 0;
    min-height: auto;
  }
}

.reviews__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-s) {
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.025em;
  }
}

.reviews__text {
  margin: 0;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-s) {
    font-size: 13px;
    line-height: 20px;
  }
}

.reviews__edit {
  @include link-reset;
  @include btn;

  width: 50px;
  height: 50px;

  text-align: center;
  line-height: 50px;
  vertical-align: middle;

  border: 1px solid #000000;
  border-radius: 50%;

  transition:
    color 0.2s,
    background-color 0.2s,
    border-color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: $color-prime;
    border-color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  @media (min-width: $width-tablet-s) {
    margin: 0 auto;
  }

  @media (min-width: $width-tablet-m) {
    margin: 0;
  }
}

.reviews__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $width-desktop-s) {
    margin-left: 230px;
  }
}

.reviews__pagination {
  display: flex;
}

.reviews__bullet {
  position: relative;

  box-sizing: border-box;
  margin-right: 5px;
  width: 16px;
  height: 16px;

  border-radius: 50%;
  cursor: pointer;
  outline: none;

  &--active {
    border: 1px solid #000000;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 6px;
    height: 6px;

    background-color: #000000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}
