.social__list {
  @include list-reset;

  display: flex;
}

.social__item {
  margin-right: 20px;
}

.social__link {
  @include link-reset;

  color: #ffffff;
  font-size: 24px;

  transition: color 0.2s;

  @media (min-width: $width-desktop-m) {
    line-height: 36px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
  }

  &:active {
    opacity: 0.7;
  }
}
