.spec__table {
  border-spacing: 0;
}

.spec__row {
  &:nth-child(2n+1) {
    background-color: rgba(130, 163, 204, 0.2);
  }
}

.spec__cell {
  box-sizing: border-box;
  padding: 10px;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.3;
  color: #000000;

  @media (min-width: $width-tablet-s) {
    font-size: 12px;
  }

  @media (min-width: $width-tablet-m) {
    padding: 10px 60px;
  }

  @media (min-width: $width-laptop) {
    font-size: 18px;
  }

  &--key {
    width: 55%;

    @media (min-width: $width-tablet-s) {
      width: 60%;
    }

    @media (min-width: $width-laptop) {
      width: 65%;
    }
  }

  &--value {
    width: 45%;
    text-align: center;

    @media (min-width: $width-tablet-s) {
      width: 40%;
    }

    @media (min-width: $width-laptop) {
      width: 35%;
    }
  }
}

.spec__list {
  @include list-reset;
}

.spec__item {
  position: relative;
  padding-left: 10px;

  &::before {
    content: "-";
    position: absolute;
    left: 0;
    top: 0;
  }
}
