.table {
  width: 100%;
  border-spacing: 0;
  text-align: center;

  &--dummy {
    .table__row:not(tr) {
      position: relative;
      display: flex;
      align-items: center;
      border-bottom: 1px dotted #ddd6d0;

      &:hover,
      &:focus,
      &:active {
        outline: none;

        &::before {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -20px;
        right: -20px;
        transition: box-shadow 0.2s;

        @media (min-width: $width-tablet-s) {
          left: -30px;
          right: -30px;
        }
      }
    }

    .table__cell {
      box-sizing: border-box;
      padding: 25px 5px;
      width: 25%;

      font-size: 0.75em;
      letter-spacing: 0.025em;

      @media (min-width: $width-tablet-s) {
        font-size: 0.85em;
      }

      @media (min-width: $width-tablet-m) {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 1.3em;
      }

      @media (min-width: $width-desktop-s) {
        padding-top: 35px;
        padding-bottom: 35px;
      }

      &--head {
        font-size: 1em;

        @media (min-width: $width-desktop-s) {
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }

      &--status {
        @media (min-width: $width-tablet-m) {
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 0.025em;
        }
      }
    }

    .table__header .table__row {
      &::before {
        content: none;
      }
    }
  }
}

.table__wrapper {
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;

  @media (min-width: $width-tablet-s) {
    padding: 0 30px;
  }

  @media (min-width: $width-laptop) {
    @include container-narrow;
  }
}

.table--gen .table__cell {
  width: (100% / 3);
  font-weight: 400;

  @media (min-width: $width-tablet-m) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (min-width: $width-desktop-s) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &--head {
    @media (min-width: $width-tablet-m) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @media (min-width: $width-desktop-s) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

.table__product {
  @include link-reset;
}

.table__price {
  font-size: 17px;
  line-height: 1;
  font-weight: 700;

  @media (min-width: $width-tablet-s) {
    font-size: 24px;
  }
}

.table__image {
  display: none;

  @media (min-width: $width-tablet-m) {
    display: block;
    flex-shrink: 0;
    margin-right: 15px;
    width: 70px;
  }
}

.table__price svg {
  font-size: 0.8em;
}
