.tabs__toggles {
  display: flex;
  margin: 0;
}

.tabs__toggle {
  @include link-reset;

  position: relative;

  box-sizing: border-box;
  padding: 30px 10px;
  width: 50%;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #6d6d6f;
  text-transform: uppercase;

  transition:
    color 0.2s,
    background-color 0.2s;

  @media (min-width: $width-tablet-s) {
    font-size: 18px;
  }

  &--active,
  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: #82a3cc;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.tabs__toggle--active:first-child::before {
  @media (min-width: $width-laptop) {
    content: "";
    position: absolute;
    z-index: -1;

    top: 0;
    bottom: 0;
    right: 0;
    left: calc((100vw - 100%) / (-2));

    background-color: #82a3cc;
  }
}

.tabs__toggle--active:last-child::before {
  @media (min-width: $width-laptop) {
    content: "";
    position: absolute;
    z-index: -1;

    top: 0;
    bottom: 0;
    left: 0;
    right: calc((100vw - 100%) / (-2));

    background-color: #82a3cc;
  }
}

.tabs__content {
  font-family: "Proxima Nova", "Arial", sans-serif;
}

.tabs__item {
  display: none;

  &--active {
    display: block;
  }
}

