.thumbs {
  position: relative;
  padding: 0 40px;

  @media (min-width: $width-laptop) {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 40px 0;
    width: 70px;
    height: 100%;
  }
}

.thumbs__wrapper {
  @media (min-width: $width-laptop) {
    height: 100%;
  }
}

.thumbs__list {
  @include list-reset;
}

.thumbs__image {
  box-sizing: border-box;
  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    border-color: $color-prime;
  }
}

.thumbs__item {
  @media (min-width: $width-laptop) {
    display: flex;
    align-items: center;
  }

  &--selected img {
    border-color: $color-prime;
  }
}

.thumbs__btn {
  @include btn;

  position: absolute;
  top: 0;
  bottom: 0;

  width: 40px;

  font-size: 20px;

  transition: color 0.2s;

  @media (min-width: $width-laptop) {
    top: auto;
    bottom: auto;
    left: 0;
    right: 0;

    width: 100%;
    height: 40px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &--prev {
    left: 0;

    @media (min-width: $width-laptop) {
      top: 0;
    }
  }

  &--next {
    right: 0;

    @media (min-width: $width-laptop) {
      bottom: 0;
    }
  }

  &--disabled {
    display: none;
  }
}

.thumbs__icon {
  @media (min-width: $width-laptop) {
    transform: rotate(90deg);
  }
}
