.toggler {
  @include link-reset;

  flex-shrink: 0;
  display: block;
  width: 45px;
  height: 45px;

  text-align: center;
  line-height: 45px;

  border: 1px solid #ffffff;
  border-radius: 50%;

  transition:
    color 0.2s,
    background-color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: #000000;
    background-color: #ffffff;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}
