.total {
  display: flex;
  flex-wrap: wrap;
  font-family: "Proxima Nova Cn", "Arial", sans-serif;
}

.total__title {
  display: block;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-m) {
    font-size: 24px;
  }

  @media (min-width: $width-desktop-m) {
    display: inline;
  }
}

.total__btn {
  @include btn;

  flex-grow: 1;
  padding: 30px 10px;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: underline;

  transition: background-color 0.2s;

  @media (min-width: $width-tablet-s) {
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 18px;
  }

  @media (min-width: $width-laptop) {
    max-width: 290px;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background-color: #000000;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &--order {
    order: 2;
    background-color: #954731;
  }

  &--buy {
    order: 1;
    background-color: #575e8a;

    @media (min-width: $width-laptop) {
      order: 0;
    }
  }
}

.total__info {
  order: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  width: 100%;

  color: #ffffff;
  text-transform: uppercase;

  background-color: #82a3cc;

  @media (min-width: $width-tablet-s) {
    padding: 25px 20px;
  }

  @media (min-width: $width-tablet-m) {
    padding: 20px;
  }

  @media (min-width: $width-laptop) {
    flex-grow: 1;
    order: 1;
    width: auto;
  }

  @media (min-width: $width-desktop-m) {
    padding: 30px 50px;
  }
}

.total__status {
  margin: 0;
}

.total__consist {
  margin: 0;
}

.total__text {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.025em;
  text-transform: none;
}

.total__count {
  font-size: 24px;
  letter-spacing: 0.025em;
}

.total__price {
  margin: 0;

  display: block;
  margin-top: 5px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-m) {
    font-size: 24px;
  }

  @media (min-width: $width-desktop-m) {
    display: inline;
  }

  svg {
    font-size: 14px;

    @media (min-width: $width-tablet-m) {
      font-size: 20px;
    }
  }
}
