.user__wrapper {
  padding: 0 20px;

  @media (min-width: $width-tablet-s) {
    padding: 0 30px;
  }

  @media (min-width: $width-laptop) {
    @include container-narrow;
  }
}

.user__title {
  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 30px;
  width: 100%;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  @media (min-width: $width-tablet-m) {
    align-self: flex-start;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    z-index: 0;

    width: 100vw;
    border-bottom: 1px dotted #ddd5cf;

    @media (min-width: $width-tablet-s) {
      left: -30px;
    }

    @media (min-width: $width-laptop) {
      left: calc((100vw - 40px - 100% * 2) / (-2));
    }
  }
}

.user__submit {
  @include btn;

  display: none;
  margin-top: 10px;
  padding: 10px 20px;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: $color-prime;
  border: 1px solid $color-prime;
  border-radius: 20px;

  transition:
    color 0.2s,
    background-color 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    background-color: #ffffff;
  }

  &:active {
    opacity: 0.7;
  }

  &--edit {
    margin-right: 30px;
  }
}

.user__field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.user__field input {
  @include input-reset;

  padding: 3px 0;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #000000;

  border-bottom: 1px solid #000000;

  transition:
    color 0.7s,
    border-color 0.7s;

  &:focus {
    color: $color-success;
    border-color: $color-success;
  }

  &:disabled {
    border-color: transparent;
  }
}

.user__field label {
  margin-right: 10px;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #000000;
}

.user__data {
  @media (min-width: $width-tablet-m) {
    display: flex;
  }
}

.user__column {
  @media (min-width: $width-tablet-m) {
    box-sizing: border-box;
    width: 50%;
  }

  &:not(:first-child) {
    position: relative;

    @media (min-width: $width-tablet-m) {
      padding-left: 40px;
    }

    @media (min-width: $width-desktop-s) {
      padding-left: 120px;
    }

    &::before {
      @media (min-width: $width-tablet-m) {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        border-left: 1px dotted #ddd5cf;
      }
    }
  }

  &:not(:first-child) .user__title {
    position: relative;

    &::after {
      @media (min-width: $width-tablet-m) {
        content: none;
      }
    }
  }

  &:not(:last-child) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;
      width: 100vw;
      border-bottom: 1px dotted #ddd5cf;

      @media (min-width: $width-tablet-s) {
        left: -30px;
      }

      @media (min-width: $width-laptop) {
        left: calc((100vw - 40px - 100% * 2) / (-2));
      }
    }
  }
}


