.vendors {
  border-top: 1px dotted #ddd5cf;
  border-bottom: 1px solid #0f0f0f;
}

.vendors__list {
  @include list-reset;

  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  min-height: 190px;
}

.vendors__link {
  display: block;
}

.vendors__image {
  margin: 0 auto;
}

.vendors__scroll {
  height: 10px;
  background-color: #f8f7f6;
}

.vendors__drag {
  height: 100%;
  background-color: #000000;

  @media (min-width: $width-desktop-s) {
    background-color: #ddd6d0;
  }
}
