@font-face {
  font-family: "Proxima Nova Cn";
  src: local("Proxima Nova Cn Regular"),
    local("ProximaNovaCond-Regular"),
    url("../fonts/subset-ProximaNovaCond-Regular.woff2") format("woff2"),
    url("../fonts/subset-ProximaNovaCond-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Cn";
  src: local("Proxima Nova Cn Bold"),
    local("ProximaNovaCond-Bold"),
    url("../fonts/subset-ProximaNovaCond-Bold.woff2") format("woff2"),
    url("../fonts/subset-ProximaNovaCond-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Cn";
  src: local("Proxima Nova Cn Black"),
    local("ProximaNovaCond-Black"),
    url("../fonts/subset-ProximaNovaCond-Black.woff2") format("woff2"),
    url("../fonts/subset-ProximaNovaCond-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Cn";
  src: local("Proxima Nova Cn Semibold"),
    local("ProximaNovaCond-Semibold"),
    url("../fonts/subset-ProximaNovaCond-Semibold.woff2") format("woff2"),
    url("../fonts/subset-ProximaNovaCond-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Light"),
    local("ProximaNova-Light"),
    url("../fonts/subset-ProximaNova-Light.woff2") format("woff2"),
    url("../fonts/subset-ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova Regular"),
    local("ProximaNova-Regular"),
    url("../fonts/subset-ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/subset-ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
