.page-text {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.025em;

  li:not(:last-child) {
    margin-bottom: 10px;
  }

  img {
    @media (max-width: $width-tablet-m - 1) {
      margin: 0 auto !important;
      float: none !important;
      max-width: 100% !important;
    }
  }

  p:last-child {
    margin-bottom: 30px;
  }
}

.page-text__wrapper {
  @include container-narrow;
  padding: 0 15px;
}
