.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  &--full {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    height: 100vh;

    main {
      position: relative;
      z-index: 1;

      flex-grow: 1;
      display: flex;
      flex-direction: column;

      &::before,
      &::after {
        z-index: 1;
        background-color: #ffffff;
        box-shadow: 0 0 250px 100px #000000;

        @media (min-width: $width-laptop) {
          content: "";
        }

        @media (min-width: $width-desktop-l) {
          box-shadow: 0 0 450px 100px #000000;
        }
      }

      &::before {
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;

        height: 50px;
      }

      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -50px;
        width: 50px;
      }
    }

    .mCS-page-content,
    .mCSB_container {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.mCS-page-content {
  &.mCSB_inside > .mCSB_container {
    margin: 0;
  }

  .mCSB_scrollTools {
    flex-grow: 0;
  }

  &.mCSB_scrollTools_horizontal {
    .mCSB_dragger .mCSB_dragger_bar {
      margin: 0;
      height: 100%;
      background-color: #000000;
      border-radius: 0;
    }

    .mCSB_draggerRail {
      margin: 0;
      height: 15px;

      border-radius: 0;
      background-color: #ffffff;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  position: relative;
  padding-left: 20px;

  font-family: "Proxima Nova Cn", "Arial", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (min-width: $width-tablet-s) {
    width: auto;
    font-size: 13px;
    line-height: 18px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);
  }

  &::before {
    width: 12px;
    height: 12px;

    border: 1px solid currentColor;
    border-radius: 3px;
  }

  &:hover {
    cursor: pointer;
  }
}

input[type="radio"] + label {
  &::before {
    border: none;
    background-color: #ffffff;
  }
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  &::after {
    left: 4px;

    width: 6px;
    height: 6px;

    color: currentColor;

    border-radius: 50%;
    background-color: currentColor;
  }
}
